- use_busy
- stylesheet 'popup'

// - title 'Enable Facebook Backup'
.fb-popupbox
  = link_to_function "", "parent.Lightview.hide()", :class => "close-btn"
  .top-text
    Authorize Facebook Backup
  .clear

  #container.fb-popup-container1
    .top-titlebox
      .checklist
      .popup-title1
        Enable Backup
      .clear
    #message.popup-text-area
      .popup-title2
        Grant Access to Facebook Data
      We need you to grant us permission to access your Facebook data, which includes your status updates and pictures.

      %br
      %br
      
      Simply click on the lock button below, it takes only several seconds to setup your Facebook account for backup!
      %br

	
      .fb-btn1
        = link_to image_tag("facebook-backup/fb-btn.gif", :border => 0), @login_url, :class => 'facebook lightview', :rel => 'iframe', :title => ' :: :: width: 700, height: 800'
        
    #continue{:style=> "display:none;"}
      .popup-text1
        Facebook has granted us permission to backup your data!
      = link_to "Next Step", {:action => 'authenticate', :auth_token => @auth_token}, :class =>"popup-textbtn1"
      = image_tag "facebook-backup/arrow-right.gif", :class => "arrow-right"
		
      .clear
  = image_tag "facebook-backup/fb-bottom.png"

  
:javascript
  Event.observe(document, 'lightview:hidden', function(evt) { 
    $('message').update('<h2>Going To Next Step...Please Wait</h2>');
    load_busy($('message'));
    location.href = '#{url_for(:action => 'authenticate', :auth_token => @auth_token)}'; 
  });
  //$('continue').show() })

