- content_for :date_author do
  = item.filename
- content_for :icon do
  = image_tag item.content_icon
- content_for :body do
  = restful_in_place_editor 'span', item, 'title', :object => 'content', :url => content_url(item)
  %p
  %br
  = link_to_content(item)
  %p
  %br
  #date_taken
    = content_creation_date_label(item)
    = content_date_select(item)
    -#= observe_field :content_taken_at, :url => content_path(photo), :method => :put, :on => "blur", :with => "'content[taken_at]='+escape($('content_taken_at').value)"
  %p
  %br
  = restful_in_place_editor 'span', item, 'description', :object => 'content', :url => content_url(item), :value => (item.description && !item.description.blank?) ? item.description : 'Add Description', :rows => 4

= render :partial => 'shared/item_details', :locals => {:item => item}

