%fieldset#content-fallback
  %noscript= "You should have Javascript enabled for a nicer upload experience"
  %legend= 'File Upload'
  %p
    Select your files to upload
  %br
  %label{:for => 'content-fileupload'}
  %input#file-upload.content-fileupload{:type=>"file", :name=>"content[uploaded_data]"}
  %input{:type=>"submit", :value=>"Upload"}

%p.instructions

#content-status.hide
  #action-links
    %a#content-browse-all.active{:href=>"#"}= "Browse Files"
    %a#content-upload{:href=>"#"}
  %p
  .clearboth
  #progress
    %strong.overall-title 
      Overall progress
    %br
    %img.progress.overall-progress{:src=>image_path('progress-bar/bar.gif')}
		
  #file_progress
    %strong.current-title
      File Progress
    %br
    %img.progress.current-progress{:src=>image_path('progress-bar/bar.gif')}
		
  #upload-status.current-text
    Click 'Browse' to select file(s)

  #upload-success{:style=>'display:none'}
    %br
    %span
      = image_tag 'upload_action_success.png' 
      %b= 'Finished!'
      %br
      Now you can add descriptions, tags, and privacy settings to your uploaded files.
      %a#add-descriptions{:href=>'#'}
        Add Descriptions
  
%ul#content-list

%a#content-clear.hidden{:href=>"#"}
  = "Clear List"



