- use_uploader

%fieldset#content-fallback
  %legend= 'File Upload'
  %p
    Select your files to upload
  %br/
  %label{:for => 'content-fileupload'}
  %input#file-upload.content-fileupload{:type=>"file", :name=>"content[uploaded_data]"}
  %input{:type=>"submit", :value=>"Upload"}

%p.instructions
  #step1.highlight
    1. Select files by clicking the 
    %b Browse 
    link
  %br
  #step2
    2. Upload files by clicking the 
    %b Upload 
    link
  
#content-status.hide
  #action-links
    %a#content-browse-all.active{:href=>"#"}= "Browse"
    |
    %a#content-clear{:href=>"#"}= "Clear List"
    |
    %a#content-upload{:href=>"#"}= "Upload"
  %p
    
  #progress
    %strong.overall-title 
      Overall progress
    %br
    %img.progress.overall-progress{:src=>image_path('progress-bar/bar.gif')}
		
  #file_progress
    %strong.current-title
      File Progress
    %br
    %img.progress.current-progress{:src=>image_path('progress-bar/bar.gif')}
		
  #upload-status.current-text
    Click 'Browse' to select file(s)

  #upload-success{:style=>'display:none'}
    %br
    %span
      = image_tag 'upload_action_success.png' 
      %b= 'Finished!'
      %br
      Now you can add descriptions, tags, and privacy settings to your uploaded files.
      %a#add-descriptions{:href=>'#'}
        Add Descriptions
  
%ul#content-list



