- title 'Edit Settings'
- use_lightview
/- use_form
- use_lowpro
- use_js_cookies

%h3 Set privacy settings and descriptions for your content below.
%p
#content-description
  - form_for :contents, :url => {:action => :update_selection}, :html => {:id => 'content_descriptions_form', :class => 'remote_form'} do |f|
    #content-description-batch-settings
      - if @contents.size > 1
        = f.label 'Tags for all'
        %p= render :partial => 'shared/tags_form_field', :locals => {:f => f}
        %br
      = render :partial => 'shared/access_permissions_select', :locals => {:f => f, :object => @contents.first, :object_name => 'content', :user => current_user}
    %p
    %br
    = render :partial => 'describe', :collection => @contents
    %br
    .clearboth
    = submit_tag 'Save'

