- title 'Edit Settings'
- load_jquery_prototype_compat_mode
- use_lightview
- use_busy
- use_prototip
- use_js_cookies

%h3 Set privacy settings and descriptions for your content below.
%p
#content-description
  - form_for :contents, :url => {:action => :update_selection}, :html => {:id => 'content_descriptions_form', :class => 'remote_form', :rel => "{busy_id: 'content-description'}"} do |f|

    #notice.flash_notice
    #content-description-batch-settings
      - if @contents.size > 1
        = f.label 'Tags for all'
        %p= render :partial => 'shared/tags_form_field', :locals => {:f => f}
        %br
      = render :partial => 'shared/access_permissions_select', :locals => {:f => f, :object => @contents.first, :object_name => 'content', :user => current_user}
    %p
    %br
    = render :partial => 'describe', :collection => @contents
    %br
    .clearboth
    = submit_tag 'Save'
    
%p
%h3= link_to 'Finished Editing', member_home_path

