= "(Job #{job.id}) Status: " + (job.successful? ? 'Ok' : 'Failed')
= " - #{job.percent_complete} % complete" if job.percent_complete
%br
- if job.finished_at
  = "Run time: #{distance_of_time_in_words(job.created_at, job.finished_at)} (#{job.created_at.to_s} to #{job.finished_at.to_s})"
- else
  = "Started #{job.created_at} but not finished"
