%p
  %h2 Backup Jobs

- @data.each_pair do |member, stats|
  %h3= "User #{member.name} (#{member.id})"
  %br
  - stats.each do |data|
    %span{:style=>"font-weight: bold"} 
      Backing up: 
      = data[:source_jobs].map{ |s| s.backup_source.backup_site.name rescue nil}.compact.uniq.join(', ')
    %br
    - @job = data[:job]
    = render :partial => 'backup_job_status', :locals => {:job => @job}
    / Show each backup source job with errors
    - if @job.has_errors?
      %br
      - data[:source_jobs].reject{|j| !j.has_errors?}.each do |j|
        %span{:style=>"font-weight: bold"} 
          Backup Source: 
          - if j.backup_source && j.backup_source.backup_site
            = j.backup_source.backup_site.name
          - else
            Unknown backup source or site name!
        %br
        = render :partial => 'backup_job_status', :locals => {:job => j}
        %br
        %span{:style=>"font-weight: bold"}= j.error_messages.to_s
    %br
    %p
  %br
  %h3 Backup State
  %br
  - bs = member.backup_state
  Items backed up? 
  = bs.items_saved ? 'Yes' : 'No'
  %br
  In progress?
  = bs.in_progress ? 'Yes' : 'No'
  %br
  Last backup at:
  = bs.last_backup_finished_at.to_s(:short) if bs.last_backup_finished_at
  %br
  Last successful backup at: 
  = bs.last_successful_backup_at.to_s(:short) if bs.last_successful_backup_at
  %br
  Last failed backup at:
  = bs.last_failed_backup_at.to_s(:short) if bs.last_failed_backup_at
  %br
  == Last backup job: #{bs.last_backup_job_id}
  %br
  Last error message:
  = bs.last_messages.to_s
  %p
  %hr
  