%h2= @subject
%br
%p
.general
  == #{@stats[:num_users]} Active members
  %br
  == #{@stats[:num_users_with_data]} Active members with backup data
%p
%h3 Total Size & Cost
= summary_totals(@stats[:total])
%br
%h3 Size & Cost per User
= summary_totals @stats[:total_avg]
%p
%h3 Details
%br
%table
  %thead
    %tr
      %td Data
      %td Yesterday
      %td Total
      %td Avg. Yesterday
      %td Avg. Total
  %tbody
    = total_count_and_size(@stats_keys, [:latest, :total, :latest_avg, :total_avg], @stats)

