%p
  %h2 Backup Jobs

- @data.each_pair do |member, stats|
  %h3= "User #{member.name} (#{member.id})"
  %br
  - @sites = stats.map{|s| s[:source_jobs]}.flatten.map{ |j| j.backup_source.backup_site.name rescue nil}.compact.uniq
  %span{:style=>"font-weight: bold"} 
    Backing up: 
    = @sites.join(', ')
  %br
  Latest backup job:
  = render :partial => 'backup_job_status', :locals => {:job => stats.last[:job]}
  - if (err = stats.select{|s| s[:job].has_errors?}).any?
    %br
    %span{:style=>"font-weight: bold"} Most recent errors:
    %br
    - data = err.last
    / Show each backup source job with errors
    - data[:source_jobs].reject{|j| !j.has_errors?}.each do |j|
      %span{:style=>"font-weight: bold"} 
        Backup Source: 
        - if j.backup_source && j.backup_source.backup_site
          = j.backup_source.backup_site.name
        - else
          Unknown backup source or site name!
      %br
      = render :partial => 'backup_job_status', :locals => {:job => j}
      %br
      %span{:style=>"font-weight: bold"}= j.error_messages.to_s
    %br
  %br
  %h3 Backup State
  %br
  - bs = member.backup_state
  Items backed up? 
  = bs.items_saved ? 'Yes' : 'No'
  %br
  In progress?
  = bs.in_progress ? 'Yes' : 'No'
  %br
  Last backup at:
  = bs.last_backup_finished_at.to_s(:short) if bs.last_backup_finished_at
  %br
  Last successful backup at: 
  = bs.last_successful_backup_at.to_s(:short) if bs.last_successful_backup_at
  %br
  Last failed backup at:
  = bs.last_failed_backup_at.to_s(:short) if bs.last_failed_backup_at
  %br
  == Last backup job: #{bs.last_backup_job_id}
  %br
  Last error message:
  = bs.last_messages.to_s
  %p
  %hr
  