%p
  %h2 Backup Jobs

- @data.each_pair do |member, stats|
  %h3= "User #{member.name} (#{member.id})"
  - stats.each do |data|
    - @job = data[:job]
    = render :partial => 'backup_job_status', :locals => {:job => @job}
    %br
    - if @job.has_errors?
      - data[:source_jobs].each do |j|
        Source: 
        - if j.backup_source && j.backup_source.backup_site
          = j.backup_source.backup_site.name
        - else
          Unknown backup source or site name!
        %br
        = render :partial => 'backup_job_status', :locals => {:job => j}
  %br
  %h3 Backup State
  %br
  - bs = member.backup_state
  Items backed up? 
  = bs.items_saved ? 'Yes' : 'No'
  %br
  In progress?
  = bs.in_progress ? 'Yes' : 'No'
  %br
  Last backup at:
  = bs.last_backup_finished_at.to_s(:short) if bs.last_backup_finished_at
  %br
  Last successful backup at: 
  = bs.last_successful_backup_at.to_s(:short) if bs.last_successful_backup_at
  %br
  Last failed backup at:
  = bs.last_failed_backup_at.to_s(:short) if bs.last_failed_backup_at
  %br
  == Last backup job: #{bs.last_backup_job_id}
  %br
  Last error message:
  = bs.last_messages.to_s
  %p
  %hr
  