<div id="plan-overview" class="billing">
  <h1>Current Plan</h1>
  <div class="plan-status">
    <div> 
      <strong><%= @plan.to_s %></strong><br/>
    </div>
    <div>
      0GB / XGB<br/>Disk space (soft limit)
    </div>
    <div>
      <%= current_user.backup_sources.count %> / X<br/>backup accounts
    </div>
  </div>
</div>
<div style="clear:both;"></div>
<%= show_flash_messages %>
<div class="account-settings-tab-contents billing">
  <div id="billing-cc" class="bottom_border_line">
    <span><strong>Credit card on file.</strong> <%= link_to 'Show card', '#' %></span>
    <div style="float:right;">
      <span class="smalldate">Next billed on <%= @subscription.next_renewal_at.to_s(:short_day) %></span>
      <span><%= link_to 'Update credit card', "#cc" %></span>
    </div>
  </div>
  <div id="plans-table" class="bottom_border_line">
    <table>
      <thead>
        <tr>
          <th>Plan</th>
          <th>Disk Space</th>
          <th>Accounts</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.to_s %></td>
        <td><%= plan.disk_limit %></td>
        <td><%= plan.backup_site_limit %></d>
        <td><%= link_to change_plan_button_text(@plan, plan), 
          plan_account_manager_path(:plan_id => plan.id) %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
    <p>Show any coupon, discount, or bulk/large plan info links here</p>
  </div>
</div>
<div class="account-settings-tab-contents billing">
  Table with columns: Date, Card, Payment, Amount
  <br/>
  Payment column = link to download receipt (pdf)
</div>
<div class="account-settings-tab-contents billing">
  <h1>Update Credit Card</h1>
</div>