= custom_error_messages_for :subscription, :header_message => "Errors encountered with your payment:"
%p

- if @subscription
  %h1 Payment Type
  %ul.form-ul3
    %li.input.checkbox-left
      = radio_button_tag :paypal, "", !@subscription.paypal?
      Pay with a credit card 
      = image_tag 'credit-cards.jpg', :id => 'credit-cards'
    %li.input.checkbox-left
      = radio_button_tag :paypal, "1", @subscription.paypal?, :onclick => "$('cc_info').hide(); $('billing_address').hide();"
      Pay with PayPal
      = image_tag 'PayPal_mark_37x23.gif'
 
  %h1 Credit Card Information
  %ul.form-ul3
    = custom_error_messages_for :creditcard, :header_message => "Errors encountered with your payment information:", :full_messages => true
    %li.input 
      First name on card
      = text_field :creditcard, :first_name
    %li.input
      Last name on card
      = text_field :creditcard, :last_name
    %li.input 
      Card Number
      = text_field :creditcard, :number

    %li.input 
      Type
      = select :creditcard, :type, [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express']]
    %li.input.month 
      Expiration
      = select_month(Date.today, :add_month_numbers => true, :prefix => 'creditcard')
      = select :creditcard, :year, (Time.now.year .. 10.years.from_now.year)
    %li.input 
      CVV
      = text_field :creditcard, :verification_value, :size => 4, :id => "security-code"
      = link_to image_tag('cvv.gif', :size => '51x31', :align => 'top'), ''
  
  #paypal_info{:style => "display: none;"}
    %p Paypal Form Input Here
    %br
      
  %h1 Billing Address
  %ul.form-ul3
    = custom_error_messages_for :address, :header_message => "Errors encountered with your address:", :full_messages => true
    %li.input 
      Street Address
      = text_field :address, :address1
      %br
      %br
      = text_field :address, :address2
    %li.input 
      City
      = text_field :address, :city
    %li.input
      State / Province
      = text_field :address, :state
    %li.input 
      Postal Code
      = text_field :address, :zip
    %li.input
      Country
      = collection_select :address, :country, Country.find(:all), :name, :name, {:prompt => "Select a Country"}
      / = country_select :address, :country, ['United States', 'Canada']  
    %li.input
      Phone
      = text_field :address, :phone

