<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email Notification</title>
</head>
<body style="width:665px;height:601px;background:white url(<%= @url %>/email/bg-email.gif) no-repeat;padding-left:72px;">
			<table width="582" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td align="left" style="height:60px; padding-top:10px"><%= image_tag @url + "/email/email-logo.png" %><br /><br /></td>
				</tr>
				<tr>
					<td><%= image_tag @url + "images/email/box-top.png" %></td>
				</tr>
				<tr>
					<td width="552" style="background:url(<%= @url %>/email/email-box.png) repeat-y;	padding:10px 15px 10px 20px;">
						<table width="540" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td bgcolor="#44aeff" style="padding:4px 0 4px 0;" align="center">
									<span style="font-family:arial;font-size:14px;color:white"><b>Congratulations, your account has been activated!</b></span>
								</td>
							</tr>
							<tr>
								<td style="font-family:arial;font-size:12px;color:#333333;	text-align:justify;line-height:20px;padding-top:10px;">
									<br />
									<b><i>Suspendisse potenti—Fusce eu ante in sapien vestibulum sagittis. Cras purus. Nunc rhoncus.Donec imperdiet, nibh sit amet pharetra placerat, tortor purus condimentum lectus</i></b><br />
								</td>
							</tr>
							<tr>
								<td style="font-family:arial;font-size:11px;color:#333333;text-align:justify;line-height:20px;">
									<br />
									Donec imperdiet, nibh sit amet pharetra placerat, tortor purus condimentum lectus, at dignissim nibh velit vitae sem. Nunc condimentum blandit tortorphasellus facilisis neque vitae purus Aliquam aliquet, est a ullamcorper condimentum, <a href="#" class="blue-btn">tellus nulla fringilla elit</a>, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit eu magna. Aliquam erat volutpat. Vivamus ornare est non wisi. Proin vel quam. Vivamus egestas. Nunc tempor diam vehicula mauris. Nullam sapien eros, facilisis vel, eleifend non, auctor dapibus, pede...<br /><br />
									<a href="#" class="blue-btn2">Read More</a><br /><br />
								</td>
							</tr>
							<tr>
								<td style="width:540px;height:1px;background:url(images/dotted.gif) repeat-x;margin-top:10px;"></td>
							</tr>
							<tr>
								<td style="font-family:arial;font-size:11px;color:#333333;text-align:justify;line-height:20px;">
									Login: <%= @user.email %>
									<br />
								</td>
							</tr>
							<tr>
								<td style="width:540px;height:1px;background:url(images/dotted.gif) repeat-x;margin-top:10px;"></td>
							</tr>
							<tr>
								<td style="font-family:arial;font-size:11px;color:#333333;text-align:justify;line-height:20px;">
									<br />Regards,<br />
									Eternos - company slogan
									<br /><br />
									<%= link_to "Contact eternos support", @supoort_url, :class => "blue-btn" %><br />
									manage your <%= link_to "account preference", @manage_url, :class=> "blue-btn"   %>.
									<br />
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><%= image_tag @url + "images/email/box-bottom.png" %></td>
				</tr>
				<tr>
					<td align="left">
						<table width="582" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td style="font-family:arial;font-size:10px;color:#4b4b4b;padding-top:10px;text-align:center">
									Copyright (c) 2008-2009, Eon Digital Preservation, Inc. All rights reserved.
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
</body>
</html>