<% unless jobs.blank? %>
  <% jobs.each do |job| -%>
    <table id="<%= dom_id(job) %>">
  			<tr>
	      <td colspan="3" height="10px" valign="top"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="top">Company</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.company %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Title</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.title %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Description</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.description %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Start Date</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.start_at.to_date %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">End Date</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.end_at ? job.end_at.to_date : "To Present" %>
	    	</td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Notes</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= job.notes %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top"></td>
	    	<td class="coll-form2" valign="top"></td>
	    	<td class="coll-form3" valign="top">
        <%= link_to_remote 'Remove', 
        :html => {:class => 'remove-btn'},
        :url => {:action => 'remove_job', :id => job}, 
        :confirm => "Are you sure?" %>  
        </td>
        </tr>
    </table>
  <% end %>
<% end %>
