#relationship_notice.error-message
#new_relationship
  - form_for :relationship, :html => { :target => 'new-relationship-parent', :multipart => true }, :url => new_relationship_account_settings_path(:format => 'js') do |form|
    - form.fields_for :person_attributes do |person_form|
      #table-form-relationship-wrapper
        #table-form-relationship
          %table#add-new-relationship.popup-newbox
            %tr
              %td{:colspan => "3"}
                .title6
                  Add New Relationship
                  = link_to_function "Cancel", "$('relationship_notice').update();$('new_relationship').remove();", :class => "blue-btn3"
            %tr
              %td{:colspan => "3"}
                %hr.line1
            %tr
              %td.coll-form1 Name
              %td.coll-form2 :
              %td.coll-form3
                = person_form.text_field :name
            %tr
              %td.coll-form1 Description
              %td.coll-form2 :
              %td.coll-form3
                = form.text_field :description
            %tr
              %td.coll-form1 Started
              %td.coll-form2 :
              %td.coll-form3
                = form.date_select_with_datepicker(:start_at, {:add_month_numbers => true, :order => [:day, :month,:year], :default => (relationship ? relationship.start_at : Date.today), :start_year => Date.today.year, :end_year => 100.years.ago.year})
            %tr
              %td.coll-form1 Ended
              %td.coll-form2 :
              %td.coll-form3
                = form.date_select_with_datepicker(:end_at, {:add_month_numbers => true, :order => [:day, :month,:year], :default => (relationship ? relationship.end_at : Date.today), :start_year => Date.today.year, :end_year => 100.years.ago.year})
                %br
                = check_box_tag :current
                %span#text-present-addresses Current / Ongoing
            -# Well this just doesn't work with ajax. photo fields not showing up in params...
            %tr
              %td.coll-form1 Photo
              %td.coll-form2 :
              %td.coll-form3
                = person_form.file_field :photo
      %br
      = submit_tag 'Save', :id => 'save-button-relationship', :class => 'submit-btn3', :onclick => "spinner.load('new_relationship');"
      
  -# IFRAME for Ajax file upload support
  = ajax_file_upload_iframe "new-relationship-parent"
.clear
:javascript
  // Required when rendering page via Ajax call
  datePickerController.create();
  resizeScrollbar();
  