<% unless @relationships.blank? %>
  <table>
  <% @relationships.each do |relationship| -%>
					<tr>
			      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
			    </tr>
					<tr>
		        <td class="coll-form6" valign="top">Name</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= relationship.name %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Type</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= relationship.circle.name %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Start at</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= relationship.start_at.to_date %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">End at</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= relationship.end_at.to_date %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Notes</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= relationship.notes %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top"></td>
			    	<td class="coll-form2" valign="top"></td>
			    	<td class="coll-form3" valign="top"><%= link_to_remote 'Remove',
                                                                        :html => {:class => 'remove-btn'},
                                                                        :url => {:action => 'remove_relationship', :id => relationship}, 
                                                                        :confirm => "Are you sure?" %>
                                </td>
		      </tr>
  <% end %>
  </table>
<% end %>