<% unless @medical_conditions.blank? %>
  <table>
  <% @medical_conditions.each do |medical_cond| -%>
				<tr>
		      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
		    </tr>
				<tr>
	        <td class="coll-form6" valign="center">Name</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"><%= medical_cond.name %></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Diagnosis</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"><%= medical_cond.diagnosis %></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Treatment</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"><%= medical_cond.treatment %></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Notes</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"><%= medical_cond.notes %></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center"></td>
		    	<td class="coll-form2" valign="center"></td>
		    	<td class="coll-form3" valign="center"><%= link_to_remote 'Remove', 
                                                                :html => {:class => 'remove-btn'},
                                                                :url => {:action => 'remove_medical_condition', :id => medical_cond}, 
                                                                :confirm => "Are you sure?" %>
                        </td>
	      </tr>
  <% end %>
  </table>
<% end %>