- @address_form_id = 'new_address'
#address_notice.error-message
#new_address
  - form_remote_for "address_book[address_attributes]", address, :url => {:controller => 'account_settings', :action => 'new_address'}, :loading => "spinner.load('new_address');" do |addr_form|
    = addr_form.hidden_field :id, :value => address ? address.id : ''
    #table-form-address-wrapper
      #table-form-address
        %table#add-new-address.popup-newbox
          %tr
            %td{:colspan => "3"}
              .title6
                Add New Address
                = link_to_function "Cancel", "$('address_notice').update(); $('new_address').remove();", :class => "blue-btn3"
          %tr
            %td{:colspan => "3"}
              %hr.line1
          %tr
            %td.coll-form1 Location
            %td.coll-form2 :
            %td.coll-form3
              = select_tag "#{addressable}[address_attributes][location_type]", options_for_select(Address::LocationTypes), :class => 'textbox8'
          %tr
            %td.coll-form1 Street
            %td.coll-form2 :
            %td.coll-form3
              = addr_form.text_field :street_1, :id => 'new_address_street_1', :class => 'textbox5'
          %tr
            %td.coll-form1 Street 2
            %td.coll-form2 :
            %td.coll-form3
              = addr_form.text_field :street_2, :id => 'new_address_street_2', :class => 'textbox5'
          %tr
            %td.coll-form1 City
            %td.coll-form2 :
            %td.coll-form3
              = addr_form.text_field :city, :id => 'new_address_city', :class => 'textbox5'
          %tr
            %td.coll-form1 Country
            %td.coll-form2 :
            %td.coll-form3
              = addr_form.collection_select :country_id, Country.find(:all, :order => :name), :id, :name, {:prompt => "Select a Country"}, :id => @address_form_id + '_country', :class => 'ajax_region_select textbox8', :onchange => "new AjaxCountryRegionSelect(this).onchange();", :region_select_id => @address_form_id + '_region', :region_url => country_regions_addresses_path, :region_id => address.nil? ? '' : address.region_id
          %tr{:id => @address_form_id + '_region_container'}
            %td.coll-form1 Region
            %td.coll-form2 :
            %td.coll-form3{:valign => 'center', :id=>"#{@address_form_id}_region_container"}
              = addr_form.collection_select :region_id, address_regions(address), :id, :name, {:prompt => "Select a Region", :selected => valid_for_region_select(address) ? address.region : ''}, :id => @address_form_id + '_region', :class => 'textbox8'
          %tr
            %td.coll-form1 Zip/Postal Code
            %td.coll-form2 :
            %td.coll-form3 
              = addr_form.text_field :postal_code, :style => "width: 100px", :id => @address_form_id + '_postal_code', :class => 'textbox5'
          %tr
            %td.coll-form1 Move In Date
            %td.coll-form2 :
            %td.coll-form3
              = addr_form.date_select_with_datepicker(:moved_in_on, {:add_month_numbers => true, :order => [:month,:year], :default => address.moved_in_on, :start_year => Date.today.year, :end_year => 100.years.ago.year})
          %tr
            %td.coll-form1 Move Out Date
            %td.coll-form2 :
            %td.coll-form3
              #present-address
                #date-present-address
                  = addr_form.date_select_with_datepicker(:moved_out_on, {:add_month_numbers => true, :order => [:month,:year], :default => address.moved_out_on, :start_year => Date.today.year, :end_year => 100.years.ago.year})
              = check_box_tag "#{addressable}[address_attributes][current_address]"
              %span#text-present-addresses Current Address
    = submit_tag "Save", :id => "save-button-address", :disable_with => "Saving...", :class => "submit-btn3"
    %br
.clear
:javascript
  // Required when rendering page via Ajax call
  datePickerController.create();
  resizeScrollbar();
   