<% unless medicals.blank? %>
  <% medicals.each do |medical| -%>
    <table id="<%= dom_id(medical) %>">
<tr>
	      <td colspan="3" height="10px" valign="top"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="top">Blood Type</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.blood_type %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Genetic Desorders</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.disorder %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Primary Physician Name</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.physician_name %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Primary Physician Phone</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.physician_phone %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Primary Dentist Name</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.dentist_name %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Primary Dentist Phone</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.dentist_phone %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top">Notes</td>
	    	<td class="coll-form2" valign="top">:</td>
	    	<td class="coll-form3" valign="top"><%= medical.notes %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="top"></td>
	    	<td class="coll-form2" valign="top"></td>
	    	<td class="coll-form3" valign="top"><%= link_to_remote 'Remove',
                                                                :html => {:class => 'remove-btn'},
                                                                :url => {:action => 'remove_medical', :id => medical}, 
                                                                :confirm => "Are you sure?" %>
                </td>
      </tr>
    </table>
  <% end %>
<% end %>
