<% unless @medical_conditions.blank? %>
  <% @medical_conditions.each do |medical_cond| -%>
    <tr id="new-medical-condition-<%= medical_cond.id%>">
      <td class="coll-form1" valign="center"><%= medical_cond.name %></td>
      <td class="coll-form1" valign="center"><%= medical_cond.diagnosis %></td>
      <td class="coll-form1" valign="center"><%= medical_cond.treatment %></td>
      <td class="coll-form1" valign="center"><%= medical_cond.notes %></td>
      <td class="coll-form1" valign="center"><%= link_to_remote 'Remove', 
                                                                :url => {:action => 'remove_medical_condition', :id => medical_cond}, 
                                                                :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
<% end %>