<% unless @families.blank? %>
  <table>
  <% @families.each do |family| -%>
					<tr>
			      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
			    </tr>
					<tr>
		        <td class="coll-form6" valign="center">Name</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"><%= family.name %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Type</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"><%= family.family_type %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Birtdate</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"><%= family.birthdate.to_date %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Living</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center">
                                <% if family.living %>
                                    Yes
                                <% else %>
                                    No
                                <% end %>
                                </td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Notes</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"><%= family.notes %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center"></td>
			    	<td class="coll-form2" valign="center"></td>
			    	<td class="coll-form3" valign="center"><%= link_to_remote 'Remove', 
                                                                        :html => {:class => 'remove-btn'},
                                                                        :url => {:action => 'remove_family', :id => family}, 
                                                                        :confirm => "Are you sure?" %>  
                                </td>
		      </tr>
  <% end %>
  </table>
<% end %>