<% unless @schools.blank? %>
  <table>
  <% @schools.each do |school| -%>
			<tr>
	      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="center">School Name</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.name %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Degree</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.degree %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Fields of Study</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.fields %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Start Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.start_at.to_date %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">End Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.end_at.to_date %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Activities</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.activities_societies %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Awards</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.awards %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Recognitions</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.recognitions %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Notes</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"><%= school.notes %></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center"></td>
	    	<td class="coll-form2" valign="center"></td>
	    	<td class="coll-form3" valign="center"><%= link_to_remote 'Remove',
                                                                :html => {:class => 'remove-btn'},
                                                                :url => {:action => 'remove_school', :id => school}, 
                                                                :confirm => "Are you sure?" %>
                </td>
      </tr>
  <% end %>
  </table>
<% end %>