#relationship_notice.error-message
#new_relationship
  - form_remote_for :relationship, :url => new_relationship_account_settings_path, :loading => "spinner.load('new_relationship');" do |junk|
    #table-form-relationship-wrapper
      #table-form-relationship
        %table#add-new-relationship.popup-newbox
          %tr
            %td{:colspan => "3"}
              .title6
                Add New Relationship
                = link_to_function "Cancel", "$('relationship_notice').update();$('new_relationship').remove();", :class => "blue-btn3"
          %tr
            %td{:colspan => "3"}
              %hr.line1
          %tr
            %td.coll-form1 Name
            %td.coll-form2 :
            %td.coll-form3
              = text_field_tag 'relationship[name]'
          %tr
            %td.coll-form1 Description
            %td.coll-form2 :
            %td.coll-form3
              = text_field_tag 'relationship[description]'
          %tr
            %td.coll-form1 Started
            %td.coll-form2 :
            %td.coll-form3
              = date_select_with_datepicker('relationship', :start_at, {:add_month_numbers => true, :order => [:day, :month,:year], :default => (relationship ? relationship.start_at : Date.today), :start_year => Date.today.year, :end_year => 100.years.ago.year})
          %tr
            %td.coll-form1 Ended
            %td.coll-form2 :
            %td.coll-form3
              = date_select_with_datepicker('relationship', :end_at, {:add_month_numbers => true, :order => [:day, :month,:year], :default => (relationship ? relationship.end_at : Date.today), :start_year => Date.today.year, :end_year => 100.years.ago.year})
              %br
              = check_box_tag :current
              %span#text-present-addresses Current / Ongoing
    %br
    = submit_tag 'Save', :id => 'save-button-relationship', :disable_with => "Saving...", :class => 'submit-btn3'
.clear
:javascript
  // Required when rendering page via Ajax call
  datePickerController.create();
  resizeScrollbar();
  