<% unless @families.blank? %>
  <table>
  <% @families.each do |family| -%>
					<tr>
			      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
			    </tr>
					<tr>
		        <td class="coll-form6" valign="top">Name</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= family.name %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Type</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= family.family_type %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Birtdate</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= family.birthdate.to_date %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Living</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top">
                                <% if family.living %>
                                    Yes
                                <% else %>
                                    No
                                <% end %>
                                </td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top">Notes</td>
			    	<td class="coll-form2" valign="top">:</td>
			    	<td class="coll-form3" valign="top"><%= family.notes %></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="top"></td>
			    	<td class="coll-form2" valign="top"></td>
			    	<td class="coll-form3" valign="top"><%= link_to_remote 'Remove', 
                                                                        :html => {:class => 'remove-btn'},
                                                                        :url => {:action => 'remove_family', :id => family}, 
                                                                        :confirm => "Are you sure?" %>  
                                </td>
		      </tr>
  <% end %>
  </table>
<% end %>