<div id="account-setting-content" class="makeScroll">
  <div class="title3">Backup your Online Accounts<br /><br />
	<div class="textarea7">We currently provide an easy way for you to backup your online data, including all your Facebook account data, status updates, friends and pictures.  
		<p>
			Your twitter account and your blog can be updated as well.  Look for more types of online accounts soon, click the FEEDBACK button to your right to submit your ideas for which types of account you'd like to see us add next!</div>
	<hr class="line2" /></div>
  <div class="network-icon-box">
    <%= link_to '', new_facebook_backup_path, :class => "lightview #{@facebook_confirmed ? 'fb-active' : 'fb-btn2'}", 
      :title => ' :: :: width: 700, height: 800, closeButton: false', :id => "fb-button", :rel => 'iframe' %>
    <%= javascript_tag "Event.observe(document, 'lightview:hidden', function(evt) { 
      updateStep('#{completed_steps_account_setting_path(current_user)}', #{@completed_steps});
      on_facebook_backup_auth_close('#{check_auth_facebook_backup_path}');
      });" 
    %>
    <%= link_to_show_hide_online('twitter-box', "", {:class => "#{@twitter_confirmed ? 'twitter-active' : 'twitter-btn'}", :id => "twitter-link"}, ["rss-box"])  %>
    <%= link_to_show_hide_online('rss-box', "", {:class => "#{@rss_confirmed ? 'rss-active' : 'rss-btn'}", :id => "rss-link"}, ["twitter-box"])  %>
  </div>

  <div style="clear:both"></div> 
  <br />
  <div class="network-login-box" id="form-box">
    <div id="twitter-box" style="display:none;">
      <div id="twitter_notice" class="flash_notice"></div>
      <%= image_tag "errors/twitter-top-box.gif" %>
      <div class="network-box2">
      <% form_remote_for @online_account,  :url => add_twitter_backup_sources_path,
      :html => {:id=> 'form-online-account'},
      :loading => "$('progress-bar').show();",
      :complete => "onFormSubmitComplete();"  do |f| %>
        
        <%= hidden_field_tag :site_name, "twitter" %>
        <%- unless @twitter_account.nil? -%>
         <%- username = @twitter_account.auth_login -%>
         <%- password = @twitter_account.auth_password -%>
        <%- end  -%>
        
         <table class="table-form2" align="left">
            <tr>
              <td class="coll-form4" valign="center">Username</td>
              <td class="coll-form2" valign="center">:</td>
              <td class="coll-form5" valign="center">
                <%= f.text_field :auth_login, :class => "textbox1", :value => username %>
              </td>
            </tr>
            <tr>
              <td class="coll-form4" valign="center">Password</td>
              <td class="coll-form2" valign="center">:</td>
              <td class="coll-form5" valign="center">
                <%= f.password_field :auth_password, :class => "textbox1", :value => password %>
              </td>
            </tr>
         </table>
				 <div style="clear:both"></div>
				 <%= f.submit "Submit", :class => "submit-btn4" %>
      <%- end -%>
      <%= image_tag "errors/fb-box-footer.gif" %>
      </div>
      <div id="result-twitter-accounts"><%= render :partial => 'shared/twitter_list' %></div>
    </div>

   <div class="network-login-box" id="form-box">
     <div id="rss-box" style="display:none;">
       <div id="rss_notice" class="flash_notice"></div>
       <%= image_tag "errors/rss-top.png" %>
       <div class="network-box2">
         <% form_remote_for @feed_url,
            :url => add_feed_url_backup_sources_path,
            :loading => "$('progress-bar').show();",
            :complete => "onFormSubmitComplete();"  do |f| %>

         <table class="table-form5" align="left">
		   <tr>
		     <td class="coll-form8" valign="center">URL</td>
                     <td class="coll-form2" valign="center">:</td>
                     <td class="coll-form9" valign="center">
                      <%= f.text_field :rss_url, :class => "textbox7" %>
                      <%= f.submit "Submit", :class => "submit-btn4" %></td>
                   </tr>
		</table>
            
         <% end %>
       </div>
       <%= image_tag "errors/fb-box-footer.gif" %>
       <div id="result-urls"><%= @rss_url_list %></div>
     </div>
   </div>
   
   

  </div>
  
</div>

<%= javascript_tag "function onFormSubmitComplete() {
  $('progress-bar').hide(); 
  updateStep('#{completed_steps_account_setting_path(current_user)}', #{@completed_steps});
  //resizeScrollbar();
  setDinamycHeight('account-setting-content');
}"
%>