<div id="account-setting-content" class="makeScroll">
  <div class="title3">Backup your Online Accounts<br /><br />
	<div class="textarea7">Lorem Ipsum Lorem Ipsum</div>
	<hr class="line2" /></div>
  <div class="network-icon-box">
    <%= link_to '', new_facebook_backup_path, :class => "lightview #{@facebook_confirmed ? 'fb-active' : 'fb-btn2'}", :title => 'Authorize Facebook Backup :: :: width: 700, height: 800', :id => "fb-button", :rel => 'iframe' %>
    <%= javascript_tag "Event.observe(document, 'lightview:hidden', function(evt) { on_facebook_backup_auth_close('#{check_auth_facebook_backup_path}') });" %>
    <%= link_to_show_hide_online('twitter-box', "", {:class => "#{@twitter_confirmed ? 'twitter-active' : 'twitter-btn'}", :id => "twitter-link"}, ["rss-box"])  %>
    <%= link_to_show_hide_online('rss-box', "", {:class => "rss-btn"}, ["twitter-box"])  %>
  </div>

  <div style="clear:both"></div> 
  <br />
  <div class="network-login-box" id="form-box">
    <div id="twitter-box" style="display:none;">
      <%= render :partial => "shared/rjs_message" %>
      <% form_remote_for @online_account,  :url => backup_sources_path,
                                           :html => {:id=> 'form-online-account'},
                                           :loading => "$('progress-bar').show();",
                                           :complete => "$('progress-bar').hide();"  do |f| %>
       <%= image_tag "errors/twitter-top-box.gif" %>
       <%= hidden_field_tag :site_name, "twitter" %>
       <%- unless @twitter_account.nil? -%>
         <%- username = @twitter_account.auth_login -%>
         <%- password = @twitter_account.auth_password -%>
       <%- end  -%>
       <div class="network-box">
         <table class="table-form2" align="left">
            <tr>
              <td class="coll-form4" valign="center">Username</td>
              <td class="coll-form2" valign="center">:</td>
              <td class="coll-form5" valign="center">
                <%= f.text_field :auth_login, :class => "textbox1", :value => username %>
              </td>
            </tr>
            <tr>
              <td class="coll-form4" valign="center">Password</td>
              <td class="coll-form2" valign="center">:</td>
              <td class="coll-form5" valign="center">
                <%= f.password_field :auth_password, :class => "textbox1", :value => password %>
              </td>
            </tr>
          </table>
          <table class="table-form3" align="left">
            <tr>
              <td width="100%" align="right">
                <%= f.submit "Submit", :class => "submit-btn" %>
              </td>
            </tr>
          </table>
					<div style="clear:both"></div>
      </div>
     <%- end -%>
     <%= image_tag "errors/fb-box-footer.gif" %>
   </div>

   <div class="network-login-box" id="form-box">
     <div id="rss-box" style="display:none;">
       <div id="error-message-rss"></div>
        <%= image_tag "errors/rss-top.png" %>
       <div class="network-box2">
         <% form_remote_for @feed_url,
                                   :url => add_feed_url_backup_sources_path,
                                   :loading => "$('progress-bar').show();",
                                   :complete => "$('progress-bar').hide();"  do |f| %>

         <table class="table-form5" align="left">
		   <tr>
		     <td class="coll-form8" valign="center">URL</td>
                     <td class="coll-form2" valign="center">:</td>
                     <td class="coll-form9" valign="center"><%= f.text_field :rss_url, :class => "textbox7" %><%= f.submit "Submit", :class => "submit-btn4" %></td>
                   </tr>
		</table>
            
         <% end %>
       </div>
       <%= image_tag "errors/fb-box-footer.gif" %>
       <div id="result-urls"></div>
     </div>
   </div>
   
   

  </div>
  
</div>
<%= javascript_tag "Scroller.reset('account-setting-content');setDinamycHeight('account-setting-content');" %>