<div id="account-setting-content" class="makeScroll">

<div id="notice" class="flash_notice"></div>
<% form_remote_tag :html => {:url => save_personal_info_account_settings_path, :id => 'personal_info_form'},
  :complete => "updateStep('#{completed_steps_account_setting_path(current_user)}', #{@completed_steps})" do %>
  <table class="table-form1" width="460" >
    <tbody>
      <tr>
        <td colspan="3">
  	    <div class="title2">Personal Info</div><br />
  			<div class="textarea7">
  			  Please tell us about yourself!  This data is held with the strictest of privacy controls.  
  			  <br/>
  			  Field marked with a * are required.
  			</div>
    	  </td>
      </tr>
      <tr>
        <td colspan="3">
  	    <hr class="line1" /><a href="#" class="plusminus"></a>
  	  </td>
      </tr>
      <% if @completed_steps >= 1 %>
        <%= render :partial => 'accounts/personal_info_form' %>
      <% else %>
        <%= render :partial => 'personal_info_form' %>
      <% end %>
    </tbody>
  </table>
  <% if @completed_steps >= 1 %>
    <%= hidden_submit("submit_form_personal") %>
  <% else %>
    <%= submit_tag('Next Step', :style => 'height: 25px') %>
  <% end %>
<% end %>

</div>
<%= javascript_tag "calculate_time_zone('address_book_timezone');" %>
