<div id="account-setting-nav">
  
  <%- link_class = (@active_step <= 1) ? "step1-active" : "step1-btn"  -%>
  <div id="step1" class="step">
    <%= link_to_remote "", { :url => personal_info_account_settings_path, 
      :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
      :complete => "highlightStep(1); $('progress-bar').hide();" }, 
      :class =>  link_class %>
  </div>

  <%- link_class = (@active_step == 2) ? "step2-active" : "step2-btn"  -%>
  <div id="step2" class="step" style="<%= style_hidden_if(@active_step < 2) %>">
    <%= link_to_remote("", { :url => online_account_settings_path,  
        :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
        :complete => "highlightStep(2); ;$('progress-bar').hide(); "
        }, :class => link_class) %>
  </div>
  
  <%- link_class = (@active_step == 3) ? "step3-active" : "step3-btn"  -%>
  <div id="step3" class="step" style="<%= style_hidden_if(@active_step < 3) %>">
    <%= link_to_remote("", { :url => your_history_account_settings_path,
      :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
      :complete => "highlightStep(3); $('progress-bar').hide();"}, 
      :class => link_class, :id => 'step3-btn') %>
  </div>
  
<!--
  <%- link_class = active_link == "step5" ? "step5-active" : "step5-btn"  -%>
  <%#= link_to_remote "", { :url => upgrades_account_settings_path,  :loading =>  "Effect.Fade('account-setting-content');"}, :class => link_class %>

  <%- link_class = active_link == "step6" ? "step6-active" : "step6-btn"  -%>
  <%#= link_to_remote "", { :url => billings_account_settings_path,  :loading =>  "Effect.Fade('account-setting-content');"}, :class => link_class %>
  -->
</div>
