<div id="account-setting-nav">
  
  <%- link_class = active_link == "step1" ? "step1-active" : "step1-btn"  -%>
  <div id="step1" class="step">
    <%= link_to_remote "", { :url => personal_info_account_settings_path, 
      :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
      :complete => "highlight_step('step1'); $('progress-bar').hide();" }, 
      :class =>  link_class %>
  </div>

  <%- link_class = active_link == "step2" ? "step2-active" : "step2-btn"  -%>
  <div id="step2" class="step" style="<%= style_hidden_if(@completed_steps < 1) %>">
    <%= link_to_remote("", { :url => online_account_settings_path, :update => 'pop-content-right', 
        :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
        :complete => "highlight_step('step2'); ;$('progress-bar').hide(); "
        }, :class => link_class) %>
  </div>
  <div id="step2-disabled" style="<%= style_hidden_if(@completed_steps >= 1) %>">
    <%= link_to '', '#', :class => link_class, :id => 'step2-link' %>
    <%= javascript_tag "new Effect.Opacity('step2-disabled', { from: 1.0, to: 0.2 });" %>
  </div>
  
  <%- link_class = active_link == "step3" ? "step3-active" : "step3-btn"  -%>
  <div id="step3" class="step" style="<%= style_hidden_if(@completed_steps < 2) %>">
    <%= link_to_remote("", { :url => email_account_settings_path, :method => :get, 
      :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
      :complete => "highlight_step('step3'); $('progress-bar').hide();" }, 
      :class => link_class) %>
  </div>
  <div id="step3-disabled" style="<%= style_hidden_if(@completed_steps >= 2) %>">
    <%= link_to '', '#', :class => link_class, :id => 'step3-link' %>
    <%= javascript_tag "new Effect.Opacity('step3-disabled', { from: 1.0, to: 0.2 });" %>
  </div>
  
  <%- link_class = active_link == "step4" ? "step4-active" : "step4-btn"  -%>
  <div id="step4" class="step" style="<%= style_hidden_if(@completed_steps < 3) %>">
    <%= link_to_remote("", { :url => your_history_account_settings_path,
      :loading =>  "Effect.Fade('account-setting-content');$('progress-bar').show();", 
      :complete => "highlight_step('step4'); $('progress-bar').hide();"}, 
      :class => link_class) %>
  </div>
  <div id="step4-disabled" style="<%= style_hidden_if(@completed_steps >= 3) %>">
    <%= link_to '', '#', :class => link_class, :id => 'step4-link' %>
    <%= javascript_tag "new Effect.Opacity('step4-disabled', { from: 1.0, to: 0.2 });" %>
  </div>
  
  <!--
  <%- link_class = active_link == "step5" ? "step5-active" : "step5-btn"  -%>
  <%#= link_to_remote "", { :url => upgrades_account_settings_path,  :loading =>  "Effect.Fade('account-setting-content');"}, :class => link_class %>

  <%- link_class = active_link == "step6" ? "step6-active" : "step6-btn"  -%>
  <%#= link_to_remote "", { :url => billings_account_settings_path,  :loading =>  "Effect.Fade('account-setting-content');"}, :class => link_class %>
  -->
</div>
<%= javascript_tag "
var highlight_step = function(step) {
  $(step).down('a').addClassName(step + '-active').removeClassName(step + '-btn');
  
  $$('.step').each(function(div) {
    if (div.id !== step && div.down('a').hasClassName(div.id + '-active')) {
      div.down('a').removeClassName(div.id + '-active');
      div.down('a').addClassName(div.id + '-btn');
    }
  });
};
"
%>
