<div id="account-setting-content" class="makeScroll" style="height:220px;">
  <% form_remote_for @address, :url => {:action => 'add_another_address'} do -%>
   <table id="table-history-addresses" class="table-form4" border="0" cellspacing="0" cellpadding="0">
     <thead class="scrollContent">
        <tr>
          <td>
            <div class="title5">Address</div>
						<div class="add-btn-box"><%= link_to_function "+ Add Address", "addRowAddress();", :class => 'add1-text' %></div>
						<div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody id="table-addresses">
        <%= render :partial => 'new_address', :locals => {:addresses => @addresses} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-address', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @job, :url => {:action => 'add_another_job'} do -%>
    <table class="table-form4" id="table-history-jobs" border="0" cellspacing="0" cellpadding="0">
	<thead class="scrollContent">
	    <tr>
				<td>
          <div class="title5">Job</div>
					<div class="add-btn-box"><%= link_to_function "+ Add Job", "addRowJob();", :class => 'add1-text' %></div>
					<div style="clear:both"></div>
        </td>
	    </tr>
      </thead>
      <tbody id="table-jobs">
        <%= render :partial => 'new_job', :locals => {:jobs => @jobs} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-job', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @school, :url => {:action => 'add_another_school'} do -%>
		<table class="table-form4" id="table-history-schools" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
				<td>
          <div class="title5">School</div>
					<div class="add-btn-box"><%= link_to_function "+ Add School", "addRowSchool();", :class => 'add1-text' %></div>
					<div style="clear:both"></div>
        </td>
	    </tr>
      </thead>
      <tbody id="table-schools">
        <%= render :partial => 'new_school', :locals => {:schools => @schools} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-school', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @medical, :url => {:action => 'add_another_medical'} do -%>
	<table class="table-form4" id="table-history-medicals" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
				<td>
          <div class="title5">Medical Information</div>
					<div class="add-btn-box"><%= link_to_function "+ Add Medical Information", "addRowMedical();", :class => 'add1-text' %></div>
					<div style="clear:both"></div>
        </td>
	    </tr>
      </thead>
      <tbody id="table-medicals">
        <%= render :partial => 'new_medical', :locals => {:medicals => @medicals} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-medical', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @medical_condition, :url => {:action => 'add_another_medical_condition'} do -%>
	<table class="table-form4" id="table-history-medical-conditions" border="0" cellspacing="0" cellpadding="0">
		  <thead class="scrollContent">
		    <tr>
					<td>
	          <div class="title5">Medical Condition</div>
						<div class="add-btn-box"><%= link_to_function "+ Add Medical Condition", "addRowMedicalCondition();", :class => 'add1-text' %></div>
						<div style="clear:both"></div>
	        </td>
		    </tr>
	      </thead>
	      <tbody id="table-medical-conditions">
	        <%= render :partial => 'new_medical_condition', :locals => {:medical_conditions => @medical_conditions} %>
	      </tbody>
	    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-medical-condition', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @family, :url => {:action => 'add_another_family'} do -%>

		<table class="table-form4" id="table-history-families" border="0" cellspacing="0" cellpadding="0">
			  <thead class="scrollContent">
			    <tr>
						<td>
		          <div class="title5">Family Relationship</div>
							<div class="add-btn-box"><%= link_to_function "+ Add Family", "addRowFamily();", :class => 'add1-text' %></div>
							<div style="clear:both"></div>
		        </td>
			    </tr>
		      </thead>
		      <tbody id="table-families">
		        <%= render :partial => 'new_family', :locals => {:families => @families} %>
		      </tbody>
		    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-family', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @relationship, :url => {:action => 'add_another_relationship'} do -%>

		<table class="table-form4" id="table-history-families" border="0" cellspacing="0" cellpadding="0">
			  <thead class="scrollContent">
			    <tr>
						<td>
		          <div class="title5">Prior Relationship</div>
							<div class="add-btn-box"><%= link_to_function "+ Add Relationship", "addRowRelationship();", :class => 'add1-text' %></div>
							<div style="clear:both"></div>
		        </td>
			    </tr>

		      </thead>
		    <tbody id="table-relationships">
		        <%= render :partial => 'new_relationship', :locals => {:relationships => @relationships} %>
		      </tbody>
		    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-relationship', :style => 'display:none;', :class => 'submit-btn3' %>
    </div>
  <% end -%>

</div>

<script>
  Scroller.reset("account-setting-content");
  window.types = new Array();
  window.countries = new Array();
  window.types_relationship = new Array();

  <% Circle.find(:all, :order => {:name => " ASC"}).each do |type| -%>
    window.types_relationship.push([<%= type.id %>, "<%= type.name %>"]);
  <% end %>
  
  <% Family::TYPES.each do |type| -%>
    window.types.push(["<%= type %>", "<%= type %>"]);
  <% end %>
  
  <% Country.find(:all, :order => {:name => " ASC"}).each do |country| -%>
    window.countries.push([<%= country.id %>, "<%= country.name %>"]);
  <% end %>
</script>  
