<div id="account-setting-content">
  <% form_remote_for @address, :url => {:action => 'add_another_address'} do -%>
		<table width="460" id="table-history-addresses" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
	      <td colspan="2">
		    <div class="title2">Address</div>
	  	  </td>
				<td colspan="1" align="right">
		    	<%= link_to_function "+ Add Address", "addRowAddress();", :class => 'add1-text' %>
		  	</td>
	    </tr>
			<tr>
	      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="center">Location Type</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Street</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Country</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Region</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">City</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Postal Code</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Move In</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Move Out</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Action</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
      </thead>
      <tbody id="table-addresses">
        <%= render :partial => 'new_address', :locals => {:addresses => @addresses} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-address', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @job, :url => {:action => 'add_another_job'} do -%>
    <table width="460" id="table-history-jobs" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
	      <td colspan="2">
		    <div class="title2">Job</div>
	  	  </td>
				<td colspan="1" align="right">
		    	<%= link_to_function "+ Add another job", "addRowJob();", :class => 'add1-text' %>
		  	</td>
	    </tr>
			<tr>
	      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="center">Company</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Country</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Title</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Description</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Start Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">End Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Notes</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Action</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
      </thead>
      <tbody id="table-jobs">
        <%= render :partial => 'new_job', :locals => {:jobs => @jobs} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-job', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @school, :url => {:action => 'add_another_school'} do -%>
		<table width="460" id="table-history-schools" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
	      <td colspan="2">
		    <div class="title2">School</div>
	  	  </td>
				<td colspan="1" align="right">
		    	<%= link_to_function "+ Add School", "addRowSchool();", :class => 'add1-text' %>
		  	</td>
	    </tr>
			<tr>
	      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="center">School Name</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Degree</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Fields of Study</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Start Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">End Date</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Activities</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Awards</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Recognitions</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Notes</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Action</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
      </thead>
      <tbody id="table-jobs">
        <%= render :partial => 'new_school', :locals => {:schools => @schools} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-school', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
	<div class="line3"></div>

  <% form_remote_for @medical, :url => {:action => 'add_another_medical'} do -%>
	<table width="460" id="table-history-medicals" border="0" cellspacing="0" cellpadding="0">
	  <thead class="scrollContent">
	    <tr>
	      <td colspan="2">
		    <div class="title2">Medical Information</div>
	  	  </td>
				<td colspan="1" align="right">
		    	<%= link_to_function "+ Add Medical Information", "addRowMedical();", :class => 'add1-text' %>
		  	</td>
	    </tr>
			<tr>
	      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
	    </tr>
			<tr>
        <td class="coll-form6" valign="center">Blood Type</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Genetic Desorders</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Primary Physician Name</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Primary Physician Phone</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Primary Dentist Name</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Primary Dentist Phone</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Notes</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
			<tr>
        <td class="coll-form6" valign="center">Action</td>
	    	<td class="coll-form2" valign="center">:</td>
	    	<td class="coll-form3" valign="center"></td>
      </tr>
      </thead>
      <tbody id="table-jobs">
        <%= render :partial => 'new_medical', :locals => {:medicals => @medicals} %>
      </tbody>
    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-medical', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @medical_condition, :url => {:action => 'add_another_medical_condition'} do -%>
	<table width="460" id="table-history-medical-conditions" border="0" cellspacing="0" cellpadding="0">
		  <thead class="scrollContent">
		    <tr>
		      <td colspan="2">
			    <div class="title2">Medical Condition</div>
		  	  </td>
					<td colspan="1" align="right">
			    	<%= link_to_function "+ Add Medical Condition", "addRowMedicalCondition();", :class => 'add1-text' %>
			  	</td>
		    </tr>
				<tr>
		      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
		    </tr>
				<tr>
	        <td class="coll-form6" valign="center">Name</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Diagnosis</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Treatment</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Notes</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"></td>
	      </tr>
				<tr>
	        <td class="coll-form6" valign="center">Action</td>
		    	<td class="coll-form2" valign="center">:</td>
		    	<td class="coll-form3" valign="center"></td>
	      </tr>
	      </thead>
	      <tbody id="table-jobs">
	        <%= render :partial => 'new_medical_condition', :locals => {:medical_conditions => @medical_conditions} %>
	      </tbody>
	    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-medical-condition', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @family, :url => {:action => 'add_another_family'} do -%>

		<table width="460" id="table-history-families" border="0" cellspacing="0" cellpadding="0">
			  <thead class="scrollContent">
			    <tr>
			      <td colspan="2">
				    <div class="title2">Family Relationship</div>
			  	  </td>
						<td colspan="1" align="right">
				    	<%= link_to_function "+ Add Family", "addRowFamily();", :class => 'add1-text' %>
				  	</td>
			    </tr>
					<tr>
			      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
			    </tr>
					<tr>
		        <td class="coll-form6" valign="center">Name</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Type</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Birtdate</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Living</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Notes</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Action</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
		      </thead>
		      <tbody id="table-jobs">
		        <%= render :partial => 'new_family', :locals => {:families => @families} %>
		      </tbody>
		    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-family', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>
  
  <div class="line3"></div>

  <% form_remote_for @relationship, :url => {:action => 'add_another_relationship'} do -%>

		<table width="460" id="table-history-families" border="0" cellspacing="0" cellpadding="0">
			  <thead class="scrollContent">
			    <tr>
			      <td colspan="2">
				    <div class="title2">Prior Relationship</div>
			  	  </td>
						<td colspan="1" align="right">
				    	<%= link_to_function "+ Add Relationship", "addRowRelationship();", :class => 'add1-text' %>
				  	</td>
			    </tr>
					<tr>
			      <td colspan="3" height="10px" valign="center"><hr class="line2" /></td>
			    </tr>
					<tr>
		        <td class="coll-form6" valign="center">Name</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Type</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Start at</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">End at</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Notes</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
					<tr>
		        <td class="coll-form6" valign="center">Action</td>
			    	<td class="coll-form2" valign="center">:</td>
			    	<td class="coll-form3" valign="center"></td>
		      </tr>
		      </thead>
		      <tbody id="table-jobs">
		        <%= render :partial => 'new_relationship', :locals => {:relationships => @relationships} %>
		      </tbody>
		    </table>
    <div>
        <%= submit_tag 'Save', :id => 'save-button-relationship', :style => 'display:none;', :class => 'btn-save' %>
    </div>
  <% end -%>

</div>

<script>
  window.types = new Array();
  window.countries = new Array();
  window.types_relationship = new Array();

  <% Relationship::TYPES_RELATIONSHIP.each do |type| -%>
    window.types_relationship.push(["<%= type %>", "<%= type %>"]);
  <% end %>
  
  <% Family::TYPES.each do |type| -%>
    window.types.push(["<%= type %>", "<%= type %>"]);
  <% end %>
  
  <% Country.find(:all, :order => {:name => " ASC"}).each_with_index do |country, index| -%>
    window.countries.push([<%= country.id %>, "<%= country.name %>"]);
  <% end %>
</script>  

  