<div id="account-setting-content" class="makeScroll" style="height:380px;">  
   <table id="table-history-addresses" class="table-form4" border="0" cellspacing="0" cellpadding="0">
     <thead class="scrollContent">
        <tr>
          <td>
            <div class="title5">Address</div>
          </td>
          <td></td>
          <td>
            <div class="add-btn-box"><%= link_to_function "+ Add Address", "addRowAddress();", :class => 'add1-text' %></div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody id="table-addresses">
        <%= render :partial => 'new_address', :locals => {:addresses => @addresses} %>
      </tbody>
    </table>

    <% form_remote_for @address,
                                :url => {:action => 'add_another_address'},
                                :loading => "$('image-loading-address').show();",
                                :complete => "rstCountAddress();$('image-loading-address').hide();" do -%>
                               
      <div id="table-form-address-wrapper"><div id="table-form-address"></div></div>
      <div>
        <%= submit_tag 'Save', :id => 'save-button-address', :style => 'display:none;', :class => 'submit-btn3' %>
        <%= image_tag "spinner.gif", :id => 'image-loading-address', :style => 'display:none;' %>
      </div>
      <br />
      <div id="error-message-address" class="error-message"></div> 
    <% end -%>  
    <%= hidden_field_tag "form_address" %>
    
	<div class="line3"></div>
</div>
