
<div id="account-setting-content" class="makeScroll vertical-accordion-FIXME">
  
  <div class="clear"></div>
  <div id="address_book" class="accordion_content">
    <table id="table-history-addresses" class="table-form4" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Addresses</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry "new_address", {:address_book => settings.address_book, 
                :addressable => 'address_book', :location => '', 
                :address => (settings.address || settings.address_book.addresses.new)}
              %> 
              </div>
              <div style="clear:both"></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr><td>
            <div id="new_address_container"></div>
            <div id="table-addresses" >
              <%= render :partial => 'addresses', :locals => {:addresses => settings.addresses} %>
            </div>
          </td></tr>
        </tbody>
    </table>
  </div>
  <br/>
  <div class="line3"></div>
<!--  <h2 class="accordion_toggle title5">Career</h2>-->
  <div class="clear"></div>
  <div id="careers" class="accordion_content">
    <table id="table-history-jobs" class="table-form4" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Jobs</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry "new_job", :job => settings.job %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_job_container"></div>
          <div id="table-jobs">
            <%= render :partial => 'jobs', :locals => {:jobs => settings.jobs} %>
          </div>
        </td></tr>
      </tbody>
    </table>    
  </div>
  <br/>
  <div class="line3"></div>
<!--  <h2 class="accordion_toggle title5">Education</h2>-->
  <div class="clear"></div>
  <div id="education" class="accordion_content">
    <table class="table-form4" id="table-history-schools" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Education</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry "new_school", :school => settings.school %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_school_container"></div>
          <div id="table-schools">
            <%= render :partial => 'schools', :locals => {:schools => settings.schools} %>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="line3"></div>
  <!--This doesn't make any sense right now
  <div id="medical_history">
    <table class="table-form4" id="table-history-medicals" border="0" cellspacing="0" cellpadding="0">
      <thead class="scrollContent">
        <tr>
          <td>
            <div class="title5">Medical Information</div>
            <div class="add-btn-box">
              <%= link_to_function "+ Add New" do |page|
                page.replace_html :new_medical_container, :partial => "new_medical", :locals => {:medical => settings.medical}
              end
              %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_medical_container"></div>
          <div id="table-medicals">
            <%= render :partial => 'medicals', :locals => {:schools => settings.medicals} %>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="line3"></div>
-->
  <div id="medical_conditions">
    <table class="table-form4" id="table-history-medical-conditions" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Medical Condition</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry "new_medical_condition", :medical_condition => settings.medical_condition %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_medical_condition_container"></div>
          <div id="table-medical_conditions">
            <%= render :partial => 'medical_conditions', :locals => {:medical_conditions => settings.medical_conditions} %>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="line3"></div>
  
<!--  <h2 class="accordion_toggle title5">Family Members</h2>-->
  <div class="clear"></div>
  <div id="family" class="accordion_content">
    <table class="table-form4" id="table-history-families" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Family Members</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry 'new_family', :family => settings.family %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_family_container"></div>
          <div id="table-families">
            <%= render :partial => 'families', :locals => {:families => settings.families} %>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>
  <br/>
  <div class="line3"></div>
  
  <!--<h2 class="accordion_toggle title5">Personal Relationships</h2>-->
  <div class="clear"></div>
  <div id="relationships" class="accordion_content">
    <table class="table-form4" id="table-history-relationships" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <td>
            <div class="title5">Personal Relationships</div>
            <div class="add-btn-box">
              <%= link_to_new_profile_entry 'new_relationship', :relationship => settings.relationship %>
            </div>
            <div style="clear:both"></div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr><td>
          <div id="new_relationship_container"></div>
          <div id="table-relationships">
            <%= render :partial => 'relationships', :locals => {:relationships => settings.relationships} %>
          </div>
        </td></tr>
      </tbody>
    </table>
  </div>
  <br/>
    
  <div class="line3"></div>

</div>



