- use_calendar
- title 'account settings'
  
.popup-container
  .popuptop
  .popup-content
    .top-box
      = link_to_function "", "window.parent.Lightview.hide();", {:id => "close-as-btn", :class => "stop-btn"}
      .clear
      .top-box2
        #account-setting-title.acc-title
          Account Settings
        .top-rightbox
          = render :partial => 'fb_sync_button', :locals => { :active_step => @active_step, :checked => @checked_always_sync }
        .clear
    .popup-content-left
      = render :partial => "setting_nav", :locals => { :active_link => "step" + (@completed_steps+1).to_s }
    
    /- Bad things happen if we use .popup-content-right
    .pop-content-right
      %center
        = image_tag 'progress-bar.gif', {:style => "display:none", :id => 'progress-bar'}
      = render :partial => @content_page, :locals => {:settings => @settings}
      
      .clear
  = image_tag "errors/popup-footer.png"

:javascript
  // Tricky scrollbar code - probably shouldn't mess with this unless you know what 
  // you're doing
  document.observe('dom:loaded', function() {  
    // Save form info on popup close code
    $('close-as-btn').observe('click', function(e) {
      var f;
      if (f = $('personal_info_form')) { f.request(); }
    });
  });