- use_calendar
- use_lowpro
- use_lightview

- title 'account settings'

.popup-container
  .popuptop
  .popup-content
    .top-box
      = link_to_close_lightview("", {:class => "stop-btn"})
      .clear
      .top-box2
        #account-setting-title.acc-title
          Account Setup
        .top-rightbox
          #sync-message
          = link_to_remote "", { :url => facebook_sync_account_settings_path, :loading => "$('progress-bar').show();", :complete => "$('progress-bar').hide();"} , :class => "fb-btn"
          .clear
          .top-text1
            &nbsp;Always do this
          - form_remote_tag :url => always_sync_with_facebook_account_settings_path do
            = check_box_submit_on_click "facebook_sync", "submit_form_sync", 1, @checked_always_sync
            = hidden_submit("submit_form_sync")
          .clear
        .clear
    .popup-content-left
      = render :partial => "setting_nav", :locals => { :active_link => "step1" }
    
    .pop-content-right
      = image_tag 'progress-bar.gif', {:style => "display:none", :id => 'progress-bar'}
      #process_message
        Retrieving Data ...
      = render :partial => 'account_settings/personal_info'
    .clear
  = image_tag "errors/popup-footer.png"
  = javascript_tag "$('step1').click();"
