- title 'account settings'
- use_calendar()
.popup-container
  .popuptop
  .popup-content
    .top-box
      = link_to_close_lightview("", {:class => "stop-btn"})
      .clear
      .top-box2
        #account-setting-title.acc-title
          Account Setup
        .top-rightbox
          #sync-message
          = link_to_remote "", { :url => facebook_sync_account_settings_path, :loading => "$('progress-bar').show();", :complete => "$('progress-bar').hide();"} , :class => "fb-btn"
          .clear
          .top-text1
            &nbsp;Always do this
          = check_box_tag :faebook_sync
          .clear
        .clear
    .popup-content-left
      = render :partial => "setting_nav", :locals => { :active_link => "step1" }
    
    .pop-content-right
      = image_tag 'progress-bar.gif', {:style => "display:none", :id => 'progress-bar'}
      #account-setting-content
        = render :partial => 'accounts/personal_info'
    .clear
  = image_tag "errors/popup-footer.png" 

