- use_calendar
- javascript "timezone_detector"
- title 'account settings'
  
.popup-container
  .popuptop
  .popup-content
    .top-box
      = link_to_function "", "window.parent.Lightview.hide();", {:id => "close-as-btn", :class => "stop-btn"}
      .clear
      .top-box2
        #account-setting-title.acc-title
          Account Setup
        .top-rightbox
          #sync-message
          = link_to_remote "", { :url => facebook_sync_account_settings_path, :loading => "$('progress-bar').show();", :complete => "$('progress-bar').hide();"} , :class => "fb-btn"
          .clear
          .top-text1
            &nbsp;Always do this
          - form_remote_tag :url => always_sync_with_facebook_account_settings_path do
            = check_box_submit_on_click "facebook_sync", "submit_form_sync", 1, @checked_always_sync
            = hidden_submit("submit_form_sync")
          .clear
        .clear
    .popup-content-left
      = render :partial => "setting_nav", :locals => { :active_link => "step" + (@completed_steps+1).to_s }
    
    /- Bad things happen if we use .popup-content-right
    .pop-content-right
      %center
        = image_tag 'progress-bar.gif', {:style => "display:none", :id => 'progress-bar'}
      = render :partial => @content_page
      
      .clear
  = image_tag "errors/popup-footer.png"

:javascript
  // Tricky scrollbar code - probably shouldn't mess with this unless you know what 
  // you're doing
  document.observe('dom:loaded', function() {
    if (#{@completed_steps} === 3) {
      resetDinamycHeightStepFour('account-setting-content');
    } else {
      setDinamycHeight('account-setting-content');
    }
    $('close-as-btn').observe('click', function(e) {
      var f;
      if (f = $('personal_info_form')) { f.request(); }
    });
  });