- title "Recording"
- use_lightview
- use_lowpro
- use_media
- use_form
- use_jquery

%p
%br
#recording[@recording]
  = custom_error_messages_for :recording

  %p= restful_in_place_editor 'span', @story, 'title', :class => 'message_title'
  %p.input
    Description:
    = restful_in_place_editor 'span', @story, 'description', :rows => 5, :value => !@story.description.blank? ? @story.description : 'Add description'
    
  #recording= show_recording(@recording)
  /= render :partial => 'shared/audio_controls'
  %p
  %br
  %a#toggle_story_settings.toggleable{:href=>edit_story_path(@story)} Settings
  #story_settings{:style=>"display:none;"}
    = render :partial => 'shared/common_settings', :locals => {:object => @story}
    
  %br
    
  - if @quick_view
    = link_to_function "Done", "$('story_view_#{dom_id(@story)}').update('')"
  - else
    = view_comments_link(@story)
  %p
