<fieldset class="content">
	
    <div class="myBox box01">
		<h2>Sign up Today!</h2>
		<p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when</p>
		<p class="spacer03">&nbsp;</p>
		<p><a href="/accounts/new" id="yellow-button2">Sign Up Now</a> <a href="#">See personal account options</a></p>
    </div>
	<div class="content-box">
		<h1>Vault Services</h1>
		<p><%= image_tag "vault/services.jpg" %></p>
		<ul class="service-ul">
			<li>
				<h3>Facebook backup service</h3>
				<%= image_tag 'vault/big-facebook.gif' %>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
			</li>
			<li>
				<h3>twitter backup service</h3>
				<%= image_tag 'vault/big-twitter.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
        
			</li>
			<li>
				<h3>RSS backup service</h3>
				<%= image_tag 'vault/big-rss.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
        
			</li>
			<li>
				<h3>picasa backup service</h3>
				<%= image_tag 'vault/big-picasa.gif' %>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
        
			</li>
			<li>
				<h3>Google Gmail backup service</h3>
				<%= image_tag 'vault/big-gmail.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
        
			</li>													
		</ul>
		<p>&nbsp;</p>
	</div>

	<p class="protect">
		<strong>PROTECT YOUR DATA</strong> - Backupify utilizes the Amazon Web Services infrastructure. <em>Amazon S3 redundantly stores your objects on multiple devices across multiple facilities in an Amazon S3 Region. The service is <strong>designed to sustain concurrent device failures</strong> by quickly detecting and repairing any lost redundancy.</em> 
	</p>		
</fieldset>