<fieldset class="content">
	
  <%= render :partial => 'signup_today_box' %>
	<div class="content-box">
		<h1>Vault Services</h1>
		<p><%= image_tag "vault/services.jpg" %></p>
		
		<ul class="service-ul">
		  copy?
		  <!--
		  <li>
  			<h3>Google Gmail backup service</h3>
  			<%= image_tag 'vault/big-gmail.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
      
  		</li>
			<li>
				<h3>Facebook backup service</h3>
				<%= image_tag 'vault/big-facebook.gif' %>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
			</li>
			<li>
				<h3>twitter backup service</h3>
				<%= image_tag 'vault/big-twitter.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
        
			</li>
			<li>
				<h3>RSS backup service</h3>
				<%= image_tag 'vault/big-rss.gif' %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, dolor vel posuere faucibus, dolor ligula vulputate nulla, nec dignissim ligula neque quis urna. Vivamus elementum, justo eget ornare eleifend, turpis arcu vulputate neque, a tincidunt nulla libero at massa. Vestibulum ornare aliquam tincidunt. Phasellus fermentum, nunc et consectetur ornare, mi justo venenatis nisi, eu consectetur</p>
			</li>												
			-->
		</ul>
		<p>&nbsp;</p>
	</div>

	<p class="protect">
	  COPY
	</p>		
</fieldset>