<% cache "homepage" do %>
<div class="fieldset">
  <div class="sub-header">
	  <p class="flash"><%= image_tag "vault/flash.jpg" %></p>
	
	  <h2>
  Complete archiving of your Gmail and social media activity. Always secure. Readily
  available. No worries.
    </h2>
    <div style="margin-left: 200px">
      <p>
        <strong>The more your company relies on Gmail and social media sites, the more complicated
your archiving challenge becomes. But now there's a simple, reliable solution: Eternos
Vault.</strong>
      </p>

      <p>
      <strong>
      Eternos Vault is an SAAS (software as a service) application that automatically archives
      your activity on Gmail, Facebook, Twitter and other social media sites, as well as your
      RSS feeds and various other web-based venues.
      </strong>
      </p>
    </div>
    <div style="margin-left: 392px">
      <p>
      <strong>It's simple and always secure. Eternos Vault. It's all right here.</strong>
      </p>
    </div>
  </div>
</div>
<div class="clearboth"></div>
<div class="fieldset">
<div class="content">
	<h3 class="myBox h3link"><a href="<% new_account_registration_path %>">30 day free trial - sign up in 60 seconds!</a></h3>
	
    <div class="myBox box01">
		<h2>Quick Simple Backup</h2>
		<ul>
		  <li><img src="/images/vault/icon-gmail.gif" /> <%= link_to 'Gmail', services_vault_home_path %> <small>(including Gmail for business)</small></li>		
		  <li><%= image_tag "icon-linkedin-small.png" %> <%= link_to 'Linkedin', services_vault_home_path %></li>
			<li><img src="/images/vault/icon-facebook.gif" /> <%= link_to 'Facebook', services_vault_home_path %></li>
			<li><img src="/images/vault/icon-twitter.gif" /> <%= link_to 'Twitter', services_vault_home_path %></li>
			<li><img src="/images/vault/icon-rss.gif" /> <%= link_to 'RSS Feeds', services_vault_home_path %> <small>(any blog/feed)</small></li>
		</ul>
		<p class="spacer01">&nbsp;</p>
		<p><%= link_to 'View All Services In Details', services_vault_home_path %></p>
    </div>
    <div class="myBox box01 mid">	
		<h2>About vault.eternos</h2>
    <ul>
      <li>Vault is a unified archive of your email and social web
      communications, no installation or technical know-how
      is required.
      </li>
      <li>
      Vault is a unified archive of your email and social web
      communications, no installation or technical know-how
      is required.
      </li>
      <li>
      You are protected against attacks on your accounts,
      accidental or malicious deletion of important data, and
      service provider data loss.
      </li>
      <li>
      It's a regulated world we live in. Vault helps ensure
      you comply with FINRA, SEC, IIROC, and FSA archiving
      requirements.
      </li>
    </ul>
	</div>
  <%= render :partial => 'signup_today_box' %>
	<p class="protect">
    SECURITY / STORAGE COPY 
	</p>		
</div>
</div>
<% end %>
