%p
- if @subscription 
  %h1 Credit Card Information
  %ul.form-ul3
    = error_messages_for :creditcard , :header_message => "Errors encountered with your payment information:", :full_messages => true
    
    = f.input :first_name, :label => 'First name on card'
    = f.input :last_name, :label => 'Last name on card'
    = f.input :type, :label => 'Card Type', :as => 'select', :collection => [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express'], ['Discover', 'discover']]
    = f.input :number, :label => 'Card Number'
    %li#creditcard_expdate_input.float.required
      = f.label :month, "Expiration Date"
      = f.select :month, (1..12)
      = f.select :year, ((y = Date.today.year) .. y+10)
    = f.input :verification_value, :label => "CVV", :wrapper_html => {:class => "security-code"}
    /= link_to image_tag('cvv.gif', :size => '51x31', :align => 'top')
  
  #paypal_info{:style => "display: none;"}
    %p Paypal Form Input Here
    %br
  
  %h1 Billing Address
  %ul.form-ul3
    - semantic_fields_for @subscription_address do |address|
      = address.input :address1, :label => 'Street Address'
      = address.input :address2, :label => 'Street Address 2'
      = address.input :city
      = address.input :state, :label => 'State / Province'
      = address.input :zip, :label => 'Postal Code'
      = address.input :country, :as => :select, :collection => Country.find(:all), :include_blank => false
      / = country_select :address, :country, ['United States', 'Canada']  
      = address.input :phone, :required => false

