%h1 Please help Eternos grow ... tell your friends & family about us!

= show_flash_messages

- if @facebook_session && !request_from_ie
  = render :partial => 'fb_invite'
- else
  - form_tag invite_others_account_setup_path do
    = hidden_field_tag :step, "3"
    - 4.times do |i|
      %p
        Email address
        %br
        <input type="text" name="email_#{i+1}" size="30">
    %p
      Email Message
      %br
      %textarea{:rows=>"10", :cols=>"60"}= render :partial => 'shared/invitation_email_copy'

    %p &nbsp
    <input type="button" name="skip" value="skip"/ onclick="this.form.submit();">&nbsp;&nbsp;&nbsp;&nbsp;
    = submit_tag "Send"

