#backup_email[backup_email]
  Email
  %p
  %br
  %b= "Subject: #{backup_email.subject}"
  %br= "Sender: #{backup_email.sender}"
  %br= "Received: #{backup_email.received_at}"
  %br Click to view full message here? Ajax call to load area below.
  
%p
%br
= debug(backup_email)