- div_for(backup_email, :class => 'content') do
  %span.title_post_email{:style => "font-weight:bold"}= backup_email.subject
  .clearboth
  %p.title_posted
    From:
    %span{:style => "font-weight:bold"}= mail_to(backup_email.sender, nil, :subject => "Re: #{backup_email.subject}")
    &nbsp; Date:
    = backup_email.received_at.to_s(:time_period_date_with_time)
    %br
    To:
    %span{:style => "font-weight:bold"}= mail_to(backup_email.recipient, nil)
  .image_post
    = image_tag 'email_accept.png', :style => "margin-top: -32px;"
  .clearboth
  .message_content
    - @div = dom_id(backup_email, 'decrypted')
    - @hide = dom_id(backup_email, 'hide')
    - @busyid = dom_id(backup_email)
    = link_to_remote('View contents', :url => { :controller => 'backup_emails', :action => "body", :id => backup_email.id }, :loading => "load_busy($('#{@busyid}'))", :complete => "unload_busy(); setDinamycHeight('details_content'); Scroller.updateAll();")
    %div{:id => @div}
    %div{:id => @hide, :style=>"display:none"}
      = link_to_function "Hide", "$('#{@div}').innerHTML = ''; $('#{@hide}').hide()"