- item = facebook_activity_stream_item
#item_details_content.shadow
  .details_head
    %p.posted
      - if item.author
        == On #{item.published_at.to_s(:long)}, #{item.author} posted: 
      - else
        == Posted on #{item.published_at.to_s(:long)}
  .image_post
    = image_tag 'fb.png'
  .clearboth
  
  .message_content
    - if item.thumbnail_url
      = link_to image_tag(item.thumbnail_url, :class => 'pic_message'), item.url
    - elsif item.url
      = link_to item.url, item.url

    %p== #{h item.message}
    .clearboth
    
  %p.detail
    - if item.published_at != item.edited_at
      %br== Edited: #{item.edited_at.to_s(:long)}
 
  %p
  %br
  = render :partial => 'shared/common_settings', :locals => {:object => item}
%p
%br
.clearboth
