- item = facebook_activity_stream_item
#item_details_content
  .details_head
    %p=link_to_function image_tag('delete-icon-16.png'), update_page {|page| page.hide :item_details_content}
    %p.posted
      == Posted on #{item.published_at.to_s(:long)}
      - if item.author
        == by #{item.author}
      \:
  .image_post
    = image_tag 'fb.png'
  .clearboth
  %br
  .message_content
    - if item.thumbnail_url
      = link_to image_tag(item.thumbnail_url, :class => 'pic_message'), item.url
    - elsif item.url
      = link_to item.url, item.url
    .clearboth
    %p== #{h item.message}
  %p.detail
    - if item.published_at != item.edited_at
      == Edited: #{item.edited_at.to_s(:long)}
  .clearboth
  %p
  %br
  = render :partial => 'shared/common_settings', :locals => {:object => item}
%p
%br
.clearboth
