<% title "Facebook Activity Stream Items" %>

<table>
  <tr>
    <th>Published At</th>
    <th>Edited At</th>
    <th>Guid</th>
    <th>Message</th>
    <th>Attachment Data</th>
    <th>Attachment Type</th>
    <th>Activity Type</th>
    <th>Type</th>
    <th>Activity Stream</th>
    <th>Author</th>
  </tr>
  <% for facebook_activity_stream_item in @facebook_activity_stream_items %>
    <tr>
      <td><%=h facebook_activity_stream_item.published_at %></td>
      <td><%=h facebook_activity_stream_item.edited_at %></td>
      <td><%=h facebook_activity_stream_item.guid %></td>
      <td><%=h facebook_activity_stream_item.message %></td>
      <td><%=h facebook_activity_stream_item.attachment_data %></td>
      <td><%=h facebook_activity_stream_item.attachment_type %></td>
      <td><%=h facebook_activity_stream_item.activity_type %></td>
      <td><%=h facebook_activity_stream_item.type %></td>
      <td><%=h facebook_activity_stream_item.activity_stream_id %></td>
      <td><%=h facebook_activity_stream_item.author %></td>
      <td><%= link_to "Show", facebook_activity_stream_item %></td>
      <td><%= link_to "Edit", edit_facebook_activity_stream_item_path(facebook_activity_stream_item) %></td>
      <td><%= link_to "Destroy", facebook_activity_stream_item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Facebook Activity Stream Item", new_facebook_activity_stream_item_path %></p>
