- item = family
- content_for :icon do
  = image_tag 'family-member.png'
- content_for :body do
  %b= family.name
  %p
  %br
  = family.family_type
  %p
  == Born on: #{family.birthdate.to_s(:long)}
  - if family.died_at
    %br== Died on: #{family.died_at.to_s(:long)}
  %br== #{family.notes}

= render :partial => 'shared/item_details', :locals => {:item => item}

