- title "Create Your Message"
%p
%br

= custom_error_messages_for :documentary
- unless @recording.new_record?
  - form_for @documentary do |f|
    = f.hidden_field 'recording_id', :value => @recording.id
    = render :partial => 'shared/av_attachment', :locals => {:parent => @documentary, :recording => @recording}
    %p
    %br
    = render :partial => 'stories/form', :locals => {:f => f, :story => @documentary}
- else
  = render :partial => 'recordings/recorder'


