- title "Recording - Additional Info"

%p Lorem Ipsum
%br
= render :partial => 'shared/av_attachment', :locals => {:parent => @documentary, :recording => @recording, :dialog => true}
%br
%p Lorem lorem ipsum here
= custom_error_messages_for :documentary
- form_for @documentary do |f|
  = f.hidden_field 'recording_id', :value => @recording.id
  = hidden_field_tag 'dialog', true
  %p
  %br
  = render :partial => 'stories/form', :locals => {:f => f, :story => @documentary}
  %p= f.submit :Save