<% stylesheet 'application' %>
<% javascript "#{request.protocol}api.recaptcha.net/js/recaptcha_ajax.js" %>
<% hide_login_box %>

<fieldset class="content">
	<div class="content-left">
        <div class="myBox get-started01">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Information</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Account Options &amp; Type</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>  
        <div class="myBox get-started01 get-started02">
            <h2><img src="/images/vault/grey-arrow.gif" width="13" height="19" /> Initial account setup</h2>
            <p>Backing up your Google Apps data is easy. Just enter your Google Apps Domain and login credentials. Next select which accounts you want to backup and an email is sent to confirm participation. We take it from there. You will get regular emails confirming when your backups have completed. </p>
        </div>          
    </div>
	<div class="content-box">
		<h1>Please choose your account type</h1>
		<%= custom_form_error_header if @user.errors.any? %>
		<% error_handling_form_for @user, :url => {:action => 'create'}, 
		  :method => :post, :html => {:class => 'form_with_terms', :id => "new_account_form"} do |f| %>
      <%= hidden_field_tag 'plan', @plan.name %>
        <ul class="form-ul">
            <li>
                <%= f.text_field 'email' %>
                <em>Your email will be used to login.</em>
            </li>
            <li>
                <%= f.password_field 'password' %>
                <em>Select a password to protect your account.</em>
            </li>
             <li>
                  <%= f.password_field 'password_confirmation' %>
                  <em>Confirm your password.</em>
              </li>
        </ul>
        
		    <ul class="form-ul">
            <li>
                <%= f.text_field 'full_name' %>
                <em>some copy here</em>
            </li>
            <% fields_for @account do |af| %>
            <li>
                <p>
                <label>Company Name</label><br />
                <%= af.text_field :company_name %>
                </p>
                <em>some copy here</em>
            </li>
            <li>
              <p>
                <label>Phone Number</label><br />
                <%= af.text_field :phone_number %>
              </p>
                <em>some copy here</em>
            </li>
            <% end %>
        </ul>
        
		    <ul class="form-ul2">
            <li>
              <p>
                <label>Enter Authentication Code</label><br/>
                <%= recaptcha_tags :ssl => request.ssl? %>
                </p>
                <em>some copy here.</em>
            </li>
        </ul>
        <p class="p1">
		    <input type="submit" value="Choose Account Type" id="yellow-button3" />        
        <a href="/login">Already Have An Account? Click Here</a><br />
        <%= f.check_box :terms_of_service, {:id => 'terms_of_service', :checked => @terms_accepted} %>
        I accept the 
        <%= link_to 'Terms and Conditions', '/about/terms', :target => '_new' %>
        </p>
    <% end %>
	</div>
</fieldset>