%label Full Name
%table#full_name
  %tbody
    %tr{:style=>"text-align:left;"}
      %td Title
      %td First
      %td Middle
      %td Last
      %td Suffix
    %tr
      %td
        = f.text_field :name_title, :size => '3', :style => "width: 30px"
      %td
        = f.text_field :first_name, :size => 16
      %td
        = f.text_field :middle_name, :size => '3', :style => "width: 30px"
      %td
        = f.text_field :last_name, :size => 16
      %td
        = f.text_field :name_suffix, :size => '3', :style => "width: 30px"
