- if current_user
  - form_for user_session, :url => {:controller => 'user_sessions', :action => 'create'} do |f|
    Logged in as
    = link_to(facebook_name_or_login(current_user), member_home_path)
    | 
    = link_to('Logout', logout_path)
- else
  - form_for user_session, :url => {:controller => 'user_sessions', :action => 'create'} do |f|
    /= link_to 'Login', login_path
    = hidden_field_tag :home_login, "1"
    - unless hide
      No account yet? &nbsp;
      = link_to 'Sign-Up Now!', new_account_url(:plan => AppConfig.default_plan)
      &nbsp; &nbsp;
      = submit_tag 'submit', :value => 'login'
      -#
        - form_for_using_ssl user_session, :url => {:controller => 'user_sessions', :action => 'create'} do |f|
          = text_field_tag :login, "Email"
          = password_field_tag :password, "Password"
          = submit_tag 'submit', :value => 'login'