%h1 Backup Services
%p

  = backup_icon('facebook', '36x36', settings.facebook_confirmed)
  = backup_icon('linkedin', '36x36', settings.linkedin_confirmed)
  = backup_icon('twitter', '36x36', settings.twitter_confirmed)
  = backup_icon('gmail', '36x36', settings.gmail_confirmed)
  = backup_icon('picasa', '36x36', settings.picasa_confirmed)
  = backup_icon('rss', '36x36', settings.rss_confirmed)
  
= link_to 'Add More', account_setup_path(:step => 0), :id => "active_network-add"
