.footer
  %div
    %p.p1
      = link_to 'Facebook', 'http://www.facebook.com/pages/Eternoscom/134291337425', :target => '_new'
      = link_to 'follow us on Twitter', 'http://twitter.com/TeamEternos', :target => '_new'
    %p.p2
      = link_to 'what is eternos?', '/about/what'
      = link_to 'about us', '/about'
      = link_to 'blog', 'http://blog.eternos.com', :target => '_new'
      = link_to 'contact us', '/about/contact'
      = link_to 'site map', '/about/sitemap'
    %p.p3
      = link_to 'signup', '#'
      = link_to 'terms of use', '/about/terms'
      = link_to 'privacy policy', '/about/privacy'
      = link_to 'press release', '/about/press'
      = link_to 'careers', '/about/careers'

    %p
      &copy; 2008-2010, Eon Digital Preservation, Inc. All rights reserved.
      %br
      = render :partial => 'shared/mcafee_secure'