.footer
  %div
    %p.p1
      = link_to 'Facebook', "#{request.protocol}www.facebook.com/pages/Eternoscom/134291337425", :target => '_new'
      %br
      = link_to 'follow us on Twitter', "#{request.protocol}twitter.com/TeamEternos", :target => '_new'
      %br
      = link_to 'Eternos in the news', '/about/press'
    %p.p2
      = link_to 'what is eternos?', '/about/what'
      %br
      = link_to 'about us', '/about'
      %br
      = link_to 'blog', '/blog'
      %br
      = link_to 'contact us', '/about/contact'
      %br
      = link_to 'site map', '/about/sitemap'
    %p.p3
      = link_to 'signup', new_account_url(:plan => AppConfig.default_plan)
      %br
      = link_to 'terms of use', '/about/terms'
      %br
      = link_to 'privacy policy', '/about/privacy'
      %br
      = link_to 'careers', '/about/careers'
    %p.p4
      &copy; 2008-2010, Eon Digital Preservation, Inc. All rights reserved.
      %br
      = image_tag 'tl_transp.gif'
      %br
      /= image_tag 'logo_aws.gif'
    / %p.p5
      

