<% unless @feed_urls.empty? %>
  <br>
  <h5>List of your URLs</h5>
  <table class="table-form2" align="left">
    <% @feed_urls.each do |feed| -%>
      <tr id="url-list-<%= feed.id %>">
        <td valign="right"></td>
        <td valign="center">:</td>
        <td valign="right">
        <%= #restful_in_place_editor('span', feed, 'rss_url', :url => online_account_settings_path(:id=>feed.id)) 
        %>
        <%= feed.rss_url %>
        </td>
        <td valign="left"><%= link_to_remote 'Remove', 
                                                      :url => {:action => 'online', :id => feed},
                                                      :confirm => 'Are you sure?',
                                                      :with => "'method=delete'", 
                                                      :loading => "$('progress-bar').show();",
                                                      :complete => "$('progress-bar').hide();" %>    
        </td>
      </tr>
    <% end %>
  </table>
  <br>
  <br>
  <br>
<%= will_paginate(@feed_urls) %>
<% end %>
