<div class="footer">
	<fieldset>
		<ul>
			<li>
				<ul>
					<li><%= link_to 'Facebook', "#{request.protocol}www.facebook.com/pages/Eternoscom/134291337425", :target => '_new' %></li>
					<li><%= link_to 'follow us on Twitter', "#{request.protocol}twitter.com/TeamEternos", :target => '_new' %></li>
				</ul>
			</li>
			<li>
				<ul>
					<li><%= link_to 'about us', '/about' %></li>
					<li><a href="http://blog.eternos.com">blog</a></li>
					<li><%= link_to 'contact us', '/about/contact' %></li>
					<li><%= link_to 'site map', '/about/sitemap' %></li>
				</ul>
			</li>
			<li>
				<ul>
					<li><%= link_to 'sign-up', new_account_registration_path %></a></li>
					<li><%= link_to 'terms of use', '/about/terms' %></li>
					<li><%= link_to 'privacy policy', '/about/privacy' %></li>
					<!--
					<li><a href="#">press release</a></li>
					<li><a href="#">careers</a></li>-->
				</ul>
			</li>
		</ul>
		<p>&copy;2011 Eon Digital Preservation, Inc. All Rights Reserved.</p>
	</fieldset>
</div>