- use_lowpro
- use_form
%h1.front-page &nbsp;
.yui-g.frontpage
  #demonstration
    = image_tag 'demonstration.jpg'
    %h2= t 'home.giftofyou.heading'
    %p= t 'home.giftofyou.paragraph'
    
  %h2= t 'home.shareyourlife.heading'
  %p= t 'home.shareyourlife.paragraph'
  = image_tag 'media.jpg'
  %p Securely and effortlessly document, store, create and share: 
  %h3 photos, home movies, music/audio, documents, blogs &amp; more...
  %a#signup.button.get-started{:href=>new_account_path}= image_tag 'get-started.jpg'