<% use_lightview %>
<% use_flashplayer %>
<% use_lowpro %>
<% flash.clear %>
<!-- start content -->
<div class="content home">
	<fieldset>
	  <div id="info"></div>
	  <div id="home-flash">
	    <a  
          href="/flv/eternos30sec.flv"  
          style="display:block;width:493px;height:289px;"  
          id="player" class="video_player"> 
      </a>
	  </div>
	  <h1>Signup for secure, automatic backup of your online life, it's free!</h1>
	  <%= render :partial => 'accounts/short_form', :locals => {:plan => AppConfig.default_plan} %>
	  
  	<fieldset>
  		<div class="home02">
  			<h2>Your Life Timeline</h2>
  			<p class="height01"> All your treasured memories and life events are set to your own easy to use timeline </p>
  			<p><%= link_to 'View Sample', image_path('timeline_large.jpg'), :class => 'lightview' %></p>
  		</div>
  		<div class="home03">
  			<h2>Automated Archiving</h2>
  			<p class="height01">Automatically archive your social web activity.  Supported services include <%= render :partial => 'about/backup_sources' %></p>
  			<p><%= link_to 'View Sample', image_path('backup_sample.jpg'), :class => 'lightview' %></p>
  		</div>
  		<div class="home04">
  			<h2>Life Key</h2>
  			<p class="height01">Enables you to designate trustees that will notify Eternos of your passing. Trustees gain access to your account upon confirmation you have passed on</p>
  			<p><%= link_to 'View Sample', image_path('lifekey_large.jpg'), :class => 'lightview' %></p>
  		</div>			
  	</fieldset>
		
	</fieldset>
</div>
<!-- end content -->

