<h1><%= @page_title = 'Accounts Dashboard' %></h1>

<%= link_to "Personal Information", {:controller => "account_settings"}   %><br />
<%= link_to "Billing Information", member_home_path   %><br />
<%= link_to "Billing History", member_home_path   %><br />
<%= link_to "Backup Settings", member_home_path   %><br />
<%= link_to "Backup Contents", member_home_path   %><br />
<%= link_to "FAQ/HELP", member_home_path   %><br />
<%= link_to "Membership Status", member_home_path   %>