- use_lowpro
- use_prototip
- title 'Member Home'
= javascript_tag "window._token = '#{form_authenticity_token}'"

/ left column
.content_title.alignleft
  #dashitemicon.alignleft
    = image_tag('notebook.png', :alt => "create")
  
  #dashitemtext.alignleft
    %h2
      = link_to 'create', new_story_path
    
    %p Use this simple form for creating written or spoken story entries. Easily add pictures, documents or files to your story or recording and choose to whom it will be visible, as well as when and how long it will appear.
  %br.clearboth
  
  #dashitemicon.alignleft
    = image_tag 'cabinet-big.png', :alt => "your files"
  
  #dashitemtext.alignleft
    %h2= link_to 'manage files', contents_path
    %p A picture is worth a thousand words. Here you can upload and manage your media – add pictures, videos, articles or other documents worth saving for posterity.
  %br.clearboth
      
  #dashitemicon.alignleft
    = image_tag 'organizer.png', :alt => "people"
  
  #dashitemtext.alignleft
    %h2= link_to 'people', guests_path
    %p Add or remove guests. In this section, you can easily add, remove or otherwise manage your guest list.
  %br.clearboth

/ right column
.content_title.alignleft
  #dashitemicon.alignleft
    = image_tag 'previeicon.png', :alt => "preview profile"
  
  #dashitemtext.alignleft
    %h2= link_to 'profile', profile_path
    %p As your life changes, so should your profile. Here you can easily make changes to update your profile information or change your profile picture.
  %br.clearboth
  
  #dashitemicon.alignleft
    = image_tag 'configure.png', :alt => "account settings"
  
  #dashitemtext.alignleft
    %h2= link_to_lightview("account settings", account_setting_path, {:class => "account-setting"}, {:title => "'Account Setup'"},{:autosize => false, :width => 900, :height => 700})
    %p As your Eternos account is meant to stay with for the long haul, your personal information will undoubtably change during your stay with us. Easily change your password, update your billing information, or upgrade/update your plan as your life and needs continue to evolve.
  .clearboth
