- use_prototip
- use_form

#input_fields
  %p#title
    = f.text_field :title, :value => story.title, :class => 'withHint', :defaultValue => 'ENTER A TITLE'
  %br  
  = render :partial => 'shared/new_common_settings', :locals => {:f => f, :object => story, :category => true}
  %p
  %br
  = show_wysiwyg_content(story, :story, fckeditor_options) if local_assigns[:show_editor]
  %br
  /
    %p.input
      = f.label "Cover Photo"
      = f.file_field :photo  
  %p
  = render :partial => 'shared/tags_form_field', :locals => {:object => @story, :f => f}
  %br

  


