#search-result.search_result[object]
  .res_thumb
    = search_thumbnail(object)
  #result-main.res_text[object]
    .res_title
      = image_tag search_icon(object), :width => 20, :height => 20
      = search_title(object)
    .res_body
      = search_summary(object)
      %br
      %span.posted= search_date(object)
    .res_tags
      = search_tags(object)
    .res_link
      = search_link(object)
  .clearboth
  #full_view.res_full[object]
.result_sep
