.search_result[object]
  .res_thumb
    = search_thumbnail(object)
  .res_text      
    .res_title
      = image_tag search_icon(object), :width => 20, :height => 20
      = search_title(object)
    .res_body
      = search_summary(object)
      %br
      %span.posted= search_date(object)
    .res_link
      = search_link(object)
    .res_tags
      = search_tags(object)
.result_sep
