<%= image_tag "errors/body-top2.gif" %>
<div id="content-container2" style="margin-top:-10px">
  <div id="bg1">
    <center>
    <div class="notification-box1">
      <%= image_tag "errors/ups1.gif" %>
    	You found a way to a page that does not exist on our site!  We have logged the error and will return you to the home page in <span id="counter">10</span> seconds
    </div>
    </center>
    <%= link_to "",  root_path, :class=> "home-btn" %>
  </div>
</div>

<%= image_tag "errors/body-bottom.png" %>
<%= javascript_tag "timer.init(0,10,'counter', '#{root_path}');" %>