= javascript_include_tag "jquery.tools.min", "application_jquery", "prototype", "scriptaculous",  "effects", "controls", "flowplayer-3.1.4.min", "flowplayer.playlist-3.0.7", 'soundmanager2-nodebug-jsmin', 'application', 'mementos/editor', 'mementos/player'
= fb_connect_javascript_tag
= init_fb_connect "XFBML"

:javascript
  var FlowplayerSwfUrl = '#{video_player_swf_url}';
  var FLOWPLAYER_PRODUCT_KEY = '#{FLOWPLAYER_PRODUCT_KEY}';
  var editor, memPlayer;

  jQuery(document).ready(function() {
    memPlayer = MementoPlayer.init('#{escape_javascript(@memento.title)}',
      #{@slides.to_json},
      #{@sounds.to_json});
  });