.decoration_item[item]
  - if item.thumbnail_url
    = image_tag item.thumbnail_url
  - else
    = image_tag item.content_icon
  %br
  %span.title= truncate(item.title, :length => 20)
  .info.title.hidden
    = item.to_s
    = item.filename
    = item.description
    