.decoration_item[item]
  - if item.thumbnail_url
    = image_tag item.thumbnail_url
  - else
    = image_tag item.content_icon
  %br
  %span.title.tooltip-target= truncate(item.title, :length => 20)
  .tooltip
    = item.to_s
    %br
    = item.filename
    %br
    = item.description
    