- title 'Memento Creator'

- content_for(:header) do
  Step 1 - Add & Annotate
  
#flash_notice.notice{:style => "display: none;"}
#flash_error.notice.hidden
#artifact_picker
  #type_list
    %ul.tabs
      %li.artitype= link_to image_tag(content_icon_path + 'photo.png'), contents_path(:type => 'albums', :view => 'memento_editor')
      %li.artitype= link_to image_tag(content_icon_path + 'movie.png'), contents_path(:type => 'web_videos', :view => 'memento_editor')
      %li.artitype= link_to image_tag(content_icon_path + 'audio.png'), contents_path(:type => 'all_audio', :view => 'memento_editor')
      %li.artitype= link_to image_tag(content_icon_path + 'doc.png'), 'editor.html', :id => 'new_text_slide'
      
  .instructions Select artifacts by clicking the tabs above.
  #artifact_view
    .panes
      #pane1{:style => "display: block"}
      #pane2
      #pane3
      #pane4
        #wysiwyg_instructions.hidden
          %span{:style=>"text-align: center"}
            You can add a text-only slide with this editor...<br/>
            Just write your message here & click the Save button.
        <form id="wysiwyg_form" method="POST">
        %textarea.editor{:name => "slidecontent"}
        %input#save_wysiwyg{:type => 'submit', :value => 'Save & Add to Movie'} 
        %input#clear_wysiwyg{:type => 'button', :value => 'Clear'} 
        </form>
.clear 
/- required for pageplayer.js
= render :partial => 'shared/audio_controls'
#slideshow_droptarget
  #scrollable_decorations
    .navi
    %a.prevPage.browse.left
    #selection-scroller.scrollable
      #item_list.items
        .decoration_item.dragdrop{:style => "border: 3px dashed #aaa; height: 95px"}
          = image_tag(content_icon_path + 'photo.png')
          = image_tag(content_icon_path + 'movie.png')
          %br
          Drag & Drop An Artifact Here
          /.new-frame-links
          /= link_to 'Add a Text Slide', '#', :id => 'add_text_slide'
          
    %a.nextPage.browse.right
  .clear
  .instructions You can change the order of the selected artifacts by dragging them left or right.
  %br
  .soundtrack
    #soundtrack-selection
      = image_tag content_icon_path + 'audio.png', :size => '20x20'
      Drag audio track(s) here to create your movie soundtrack.
.clear
#slideshow_info
  #duration
  #frames
  #frame_seconds
  #audio-info
%br
#selection_links.hidden
  = link_to 'Clear Slides', '#', :id => 'clear_selection' 
  |
  = link_to 'Clear Sountrack', '#', :id => 'clear_sounds'
  |
  = link_to 'Preview movie', '#', :id => 'do_preview'
.clear
%br
#arti_preview_details.instructions.hidden

#artifact_editor.hidden
  %br
  %form
    = text_area_tag :description, "Write about this artifact here.  When you are finished, click Save.", :rows => '6', :id => 'artifact_description', :defaultValue => "Write about this artifact here.  When you are finished, click Save."
    %br
    %input#save_desc{:type => 'button', :value => 'Save'} 
    #editor_notice.success_notice.hidden
  #arti_preview
    #arti_preview_img
.clear
#preview_pane.overlayZ
  #movie_pane{:style => "display: none;"}
    #movie_player

