- title 'Memento Creator'
- use_uploader
- @memento_width = 720
- @memento_height = 480

%h1 Memento Creator
.alignleft
  %p.mementos-p
    %strong Welcome to the Eternos Memento Creator
    Access all the media that you have archived in your Eternos account and create fun Mashup E-cards with text and audio! Follow the step by step instructions and you’ll have a fun Memento to share with your friends and family in minutes!
%p &nbsp;
#flash_notice.notice{:style => "display: none;"}

.login1_right.login1-mid.login2-mid
  #accordion
    %h1.accordiontab.current Start by selecting &amp; dragging artifacts into the Memento Timeline
  
    #artifact_picker.memento-pane{:style => "display:block"}
      %p.mementos-p 
        Select one of the tabs to view your artifacts.  Once you find the desired artifacts, simply <b>drag the them to the box below</b> (the Memento Timeline). Add as many as you like!
    
      #type_list
        %ul#artifact-tabs.tabs-like-header
          %li.artitype
            - link_to contents_path(:type => 'albums', :view => 'memento_editor') do
              = image_tag('icon-j-photo.png', :width=>"22", :height=>"22")
              &nbsp;Images
            %span &nbsp;
          %li.artitype
            - link_to contents_path(:type => 'web_videos', :view => 'memento_editor') do
              = image_tag('icon-j-movie.png', :width=>"22", :height=>"22")
              &nbsp;Movies
            %span &nbsp;
          %li.artitype
            - link_to 'editor.html', :id => 'new_text_slide' do
              = image_tag('icon-j-text.png', :width=>"22", :height=>"22")
              &nbsp;Add Text
            %span &nbsp;
          %li.artitype
            = link_to_lightview image_tag('icon-j-upload.png', :width=>"22", :height=>"22") + '<strong>Upload Files</strong>', new_content_mementos_path, {}, {:rel => "'iframe'"}, :width=>600, :height=>500
            %span &nbsp;
        <form class="clear_slides"><input id="j-button001" type="submit" value="Clear Slides" /></form>
      #artifact_view
        .panes1
          #artipane1{:style => "display: block"}
          #artipane2
          #artipane3
            = render :partial => 'text_editor'
          #artipane4
            /= render :partial => 'upload_content'
      .clear 
      /- required for pageplayer.js
      = render :partial => 'shared/audio_controls'
      #slideshow_droptarget
        #scrollable_decorations
          .navi
          %p.mementos-p 
            = image_tag 'mementos-timeline.gif'
            You can rearrange the order of artifacts by dragging them left and right.
          %a.prevPage.browse.left
          #selection-scroller.scrollable
            #item_list.items
              .decoration_item.dragdrop{:style => "border: 3px dashed #aaa; height: 95px"}
                = image_tag(content_icon_path + 'photo.png')
                = image_tag(content_icon_path + 'movie.png')
                %br
                Drag & Drop Artifacts Here
          %a.nextPage.browse.right
        .clear
        
        #arti_preview_details.instructions.hidden
      
      #artifact_editor.hidden
        %p.mementos-p
          You can write about your Memento and what events are taking place.  Text will auto-save.
          %br
          == (#{@max_caption_length} character maximum).
        .editor-body
          #caption_notice.success_notice{:style => "display: none;"}
          %form#save_desc{:action=>'#'}
            = text_area_tag :description, "Describe the image/video shown on the right in this area.", :rows => '3', :id => 'artifact_description', :defaultValue => "Write about this artifact here.  When you are finished, click Save."
            /-%br
            /-%input#j-button003{:type => 'submit', :value => 'Save'} 
          #editor_notice.success_notice.hidden
          #arti_preview
            #arti_preview_img
      .clear
      %p &nbsp;
    %h1.accordiontab Next, Click Here to add MP3 audio tracks (optional)
    #soundtrack.memento-pane
      .soundtrack
        %ul#soundtrack-tabs.tabs-like-header
          %li.artitype
            - link_to contents_path(:type => 'all_audio', :view => 'memento_editor') do
              = image_tag('icon-j-audio.png', :width=>"22", :height=>"22")
              &nbsp;Audio
            %span &nbsp;
          %li.artitype
            = link_to_lightview image_tag('icon-j-upload.png', :width=>"22", :height=>"22") + '<strong>Upload Files</strong>', new_content_mementos_path, {}, {:rel => "'iframe'"}, :width=>400, :height=>500
            %span &nbsp;
        %form.clear_sounds
          <input id="j-button001" type="submit" value="Clear Audio" />
        .panes2
          #audiopane1{:style => "display: block"}
          #audiopane2
        %p.mementos-p
          = image_tag 'mementos-audio.gif', :width => "201", :height => "33"
          /You can rearrange the order of your soundtrack's audio files by draging them left and right.

        #soundtrack-selection
          = image_tag content_icon_path + 'audio.png', :size => '20x20'
          Drag audio files here to create your movie soundtrack.
        .clear
      %p &nbsp;
    %h1.accordiontab Finally, Click Here to Preview and Share Your Memento!
    #preview.mementos-preview.memento-pane
      %h3.memento-details
        <strong>Timeline Options</strong><span><strong>Memento Details</strong>
      %p.mementos-p 
        Watch a preview of your Memento here.
        You can edit it with the tools above until you are ready to share it.
        %br
        You can save it anytime & come back later to finish it...Look for it in the left column under the "Previous Mementos" heading.
      %ul.memento-details
        %li
          #slideshow_info
            %form#do_preview
              <input id="j-button003" type="submit" value="Preview Memento" />
            %form.clear_slides                                                              
              <input id="j-button002" type="submit" value="Clear Slides" />      
            %form.clear_sounds                                                              
              <input id="j-button002" type="submit" value="Clear Audio" />       
			  
          <span id="movie_info"></span>
          <span id="movie_duration"></span>
      .clear
      %p &nbsp;
      #preview_pane{:style => "display: none;"}
        #movie_pane.theme-default
          #movie_player
      %p &nbsp;
      #save-button
        %p.mementos-p
          %strong When you are finished creating your Memento, enter a title then press 'Save' to share!
        #memento-save-notice.notice{:style => "display: none;"}
        - form_for @memento, :html => {:id => 'save-memento-form'} do |f|
          = f.text_field :title, :defaultValue => "Enter a title", :class => 'withHint'
          %input#memento_save_button{:type => 'submit', :value => 'SAVE & SHARE', :onclick => "editor.save(); return false;"}
      %p &nbsp;
      #shareit
        
:javascript
  var MEMENTO = {};
  MEMENTO.width = #{@memento_width};
  MEMENTO.height = #{@memento_height};
  MEMENTO.preview_win_width = 750;
  MEMENTO.preview_win_height = 520;
  MEMENTO.player_width = 480;
  MEMENTO.player_height = 266;
  MEMENTO.maxCaptionLength = #{@max_caption_length};
  
