- stylesheet 'mementos'
- javascript 'mementos/editor'
- use_busy
- use_scrollable

#artifact_picker
  #type_list
    %ul
      %li.artitype= link_to 'Photos icon here', contents_url(:type => 'albums')
      %li.artitype= link_to 'Videos icon', contents_url(:type => 'web_videos')
      %li.artitype= link_to 'Audio icon', contents_url(:type => 'audio')
      %li.artitype= link_to 'Music icon', contents_url(:type => 'music')
  #artifact_view
    Expanded artifacts list here
.clear
#slideshow_droptarget
  Where artifacts are dragged to make slideshow
  
  #scrollable_decorations
    /.navi
    %a.prevPage.browse.left
    #selection-scroller.scrollable
      #item_list.items
        .decoration_item.artifact
          Drag & Drop 1st Artifact Here
    %a.nextPage.browse.right
    
.clear
#preview_pane
  Preview slideshow here?
  

:javascript
  window._token = '#{form_authenticity_token}';
  var editor, artifactPicker;
  
  document.observe('dom:loaded', function() {
    editor = MementoEditor.init();
  });