- stylesheet 'mementos'
- javascript 'mementos/editor', 'dragdrop-patched'
- use_busy
- use_scrollable
- use_flashplayer
- use_wysiwyg
- title 'Memento Creator'

- content_for(:header) do
  Step 1 - Add & Annotate
  
#artifact_picker
  #type_list
    %ul.tabs
      %li.artitype= link_to image_tag(content_icon_path + 'photo.png'), contents_path(:type => 'albums')
      %li.artitype= link_to image_tag(content_icon_path + 'movie.png'), contents_path(:type => 'web_videos')
      %li.artitype= link_to image_tag(content_icon_path + 'audio.png'), contents_path(:type => 'all_audio')
      %li= link_to image_tag(content_icon_path + 'doc.png'), '#', :id => 'new_text_slide'
      
  #artifact_view
    .panes
      #content_pane{:style => "display: block"}
        .instructions Select artifacts by clicking the tabs above.
  #artifacts_expanded_view
    #wysiwig.hidden
      = fckeditor_textarea(Memento.new, "html_slide", fckeditor_options.merge(:ajax => true, :value => '', :defaultValue => 'Write anything you want here!', :class => 'withHint'))
  %br
.clear
#slideshow_droptarget
  .instructions 
    Drag selected artifacts from above to the box below to create your movie.
  
  #scrollable_decorations
    .navi
    %a.prevPage.browse.left
    #selection-scroller.scrollable
      #item_list.items
        .decoration_item{:style => "border: 3px dashed #aaa; height: 95px"}
          Drag & Drop An Artifact Here
          /.new-frame-links
          /= link_to 'Add a Text Slide', '#', :id => 'add_text_slide'
          
    %a.nextPage.browse.right
  .clear
  .instructions You can change the order of the selected artifacts by dragging them left or right.
  %br
  .soundtrack
    #soundtrack-selection
      Drag audio track(s) here to create your movie soundtrack.
.clear
#slideshow_info
  #duration
  #frames
  #frame_seconds
%br
#selection_links.hidden
  = link_to 'Start over', '#', :id => 'clear_selection' 
  |
  = link_to 'Preview movie', '#', :id => 'do_preview'
.clear
    
#arti_preview_details.instructions.hidden

#artifact_editor.hidden
  %br
  %form
    = text_area_tag :description, "Write about this artifact here.  When you are finished, click Save.", :rows => '6', :id => 'artifact_description', :defaultValue => "Write about this artifact here.  When you are finished, click Save."
    %br
    %input#save_desc{:type => 'button', :value => 'Save'} 
    #editor_notice.success_notice.hidden
  #arti_preview
    #arti_preview_img
.clear
#preview_pane.overlay
  #movie_pane
    #movie_player
  
:javascript
  window._token = '#{form_authenticity_token}';
  var FlowplayerSwfUrl = '#{video_player_swf_url}';
  var editor, artifactPicker;
  
  document.observe('dom:loaded', function() {
    editor = MementoEditor.init();
  });