- title 'Memento Creator'
- use_uploader
- @memento_width = 720
- @memento_height = 480

%h1 Memento Creator
.alignleft
  %p.mementos-p
    %strong Welcome to the Eternos Memento Creator
    Access all the media that you have archived in your Eternos account and create fun Mashup E-cards with text and audio! Follow the step by step instructions and you’ll have a fun Memento to share with your friends and family in minutes!
%p &nbsp;
#flash_notice.notice{:style => "display: none;"}

.login1_right.login1-mid.login2-mid
  #accordion
    .accordiontab.current
    #artifact_picker.memento-pane{:style => "display:block"}
      %h1#step1 Step 1. Add your artifacts to the Memento Timeline
      %p.mementos-p 
        Click the media tabs below to view your artifacts.  Once you find the desired artifacts, simply <b>drag the them to the box below</b> (the Memento Timeline). Add as many as you like!
    
      #type_list
        %ul#artifact-tabs.tabs-like-header
          %li.artitype
            - link_to contents_path(:type => 'albums', :view => 'memento_editor') do
              = image_tag('icon-j-photo.png', :width=>"22", :height=>"22")
              &nbsp;Images
            %span &nbsp;
          %li.artitype
            - link_to contents_path(:type => 'web_videos', :view => 'memento_editor') do
              = image_tag('icon-j-movie.png', :width=>"22", :height=>"22")
              &nbsp;Movies
            %span &nbsp;
          %li.artitype
            - link_to 'editor.html', :id => 'new_text_slide' do
              = image_tag('icon-j-text.png', :width=>"22", :height=>"22")
              &nbsp;Add Text
            %span &nbsp;
          %li.artitype
            = link_to_lightview image_tag('icon-j-upload.png', :width=>"22", :height=>"22") + '<strong>Upload Files</strong>', new_content_mementos_path, {}, {:rel => "'iframe'"}, :width=>600, :height=>500
            %span &nbsp;
        <form class="clear_slides"><input class="red-button-right" type="submit" value="Clear Slides" /></form>
      #artifact_view
        #artifact-loading-bar= image_tag "progress-bar.gif"
        .panes1
          #artipane1{:style => "display: block"}
          #artipane2
          #artipane3
            = render :partial => 'text_editor'
          #artipane4
            /= render :partial => 'upload_content'
      .clear 
      /- required for pageplayer.js
      = render :partial => 'shared/audio_controls'
      
      #slideshow_droptarget
        #scrollable_decorations
          %p.mementos-p 
            = image_tag 'mementos-timeline.gif'
            You can rearrange the order of artifacts by dragging them left and right.
          %a.prevPage.browse.left
          #selection-scroller.scrollable
            #item_list.items
              .decoration_item.dragdrop{:style => "border: 3px dashed #aaa; height: 95px"}
                = image_tag(content_icon_path + 'photo.png')
                = image_tag(content_icon_path + 'movie.png')
                %br
                Drag & Drop Artifacts Here
          %a.nextPage.browse.right
        .clear
        
        #arti_preview_details.instructions.hidden
      
      #arti-tooltip.hidden
        .ttiptext Edit caption or Remove
        
      #artifact_editor{:style => "display: none;"}
        %p.mementos-p
          You can write about your Memento and what events are taking place.  
          %br
          Your input will be displayed along with this artifact.
          %br
          == (#{@max_caption_length} character maximum).
        #editor-body
          #caption_notice.success_notice{:style => "display: none;"}
          %form#save_desc
            = hidden_field_tag 'm_submit'
            = text_area_tag :description, "", :maxlength => '165', :rows => '3', :id => 'artifact_description', :onclick => 'this.select();', :defaultValue => "Write about this artifact here.  When you are finished, click Save."
            %br
            #characters-remaining
            %input.green-button{:type => 'submit', :name => 'submit', :value => 'Save', :onclick => 'this.form.m_submit.value = this.value;'} 
            %input.red-button{:type => 'submit', :name => 'submit', :value => 'Cancel', :onclick => 'this.form.m_submit.value = this.value;'}    
          #arti_preview
            #arti_preview_img
          .clear
          #editor_notice.success_notice.hidden
          
      .clear
      #step-notice-1.flash-error{:style => "display:none;"}
      %p &nbsp;
      %input.next.green-button{:type => 'submit', :value => 'Next >>'}
      .clear
    .accordiontab
    #soundtrack.memento-pane
      %h1#step2 Step 2.  Click Here to add MP3 audio tracks.
      .soundtrack
        %ul#soundtrack-tabs.tabs-like-header
          %li.artitype
            - link_to contents_path(:type => 'all_audio', :view => 'memento_editor') do
              = image_tag('icon-j-audio.png', :width=>"22", :height=>"22")
              &nbsp;Audio
            %span &nbsp;
          %li.artitype
            = link_to_lightview image_tag('icon-j-upload.png', :width=>"22", :height=>"22") + '<strong>Upload Files</strong>', new_content_mementos_path, {}, {:rel => "'iframe'"}, :width=>600, :height=>500
            %span &nbsp;
        %form.clear_sounds
          <input class="red-button-right" type="submit" value="Clear Audio" />
        #audio-loading-bar{:style => "display: none;"}= image_tag "progress-bar.gif"
        .panes2
          #audiopane1{:style => "display: block"}
          #audiopane2
        %p.mementos-p
          = image_tag 'mementos-audio.gif', :width => "201", :height => "33"
          /You can rearrange the order of your soundtrack's audio files by draging them left and right.

        #soundtrack-selection
          = image_tag content_icon_path + 'audio.png', :size => '20x20'
          Drag an audio file here to create your movie soundtrack.
      .clear
      #step-notice-2.flash-error{:style => "display:none;"}
      %p &nbsp;
      #prevnext
        %input.previous.green-button{:type => 'submit', :value => '<< Back'}
        %input.next.green-button{:type => 'submit', :value => 'Next >>'}
      .clear
    .accordiontab
    #preview.mementos-preview.memento-pane
      %h1#step3 Step 3.  Preview, Save & Share Your Memento!
      %h3.memento-details
        <strong>Timeline Options</strong><span><strong>Memento Details</strong>
      %p.mementos-p 
        Watch a preview of your Memento here.
        You can edit it with the tools above until you are ready to share it.
        %br
        You can save it anytime & come back later to finish it...Look for it in the left column under the "Previous Mementos" heading.
      %ul.memento-details
        %li
          #slideshow_info
            %form#do_preview
              <input class="green-button" type="submit" value="Preview Memento" />
            %form.clear_slides                                                              
              <input class="red-button" type="submit" value="Clear Slides" />      
            %form.clear_sounds                                                              
              <input class="red-button" type="submit" value="Clear Audio" />       
            
          <span id="movie_info"></span>
          <span id="movie_duration"></span>
      .clear
      %p &nbsp;
      #preview_pane{:style => "display: none;"}
        #movie_pane.theme-default
          #movie_player
            
      %p &nbsp;
      #save-button
        %p.mementos-p
          %strong When you are finished creating your Memento, enter a title then press 'Save' to share!
        #memento-save-notice{:style => "display: none;"}
        /-.clear
        /-#memento-save-error-notice.notice{:style => "display: none;"}
        - form_for @memento, :html => {:id => 'save-memento-form', :onsubmit => "return editor.save(this);"} do |f|
          = f.hidden_field :id
          = f.text_field :title, :defaultValue => "Enter a title", :class => 'withHint'
          %input#memento_save_button{:type => 'submit', :value => 'SAVE & SHARE'}
          = link_to 'Start Over', new_memento_path, :confirm => 'Are you sure?'
      %p &nbsp;
      #shareit
      %p &nbsp;
      %input.previous.green-button{:type => 'submit', :value => '<< Back'}
  
:javascript
  var MEMENTO = {};
  MEMENTO.width = #{@memento_width};
  MEMENTO.height = #{@memento_height};
  MEMENTO.preview_win_width = 750;
  MEMENTO.preview_win_height = 520;
  MEMENTO.player_width = 480;
  MEMENTO.player_height = 266;
  MEMENTO.maxCaptionLength = #{@max_caption_length};
  
