#gallery
  - @photos.each do |p|
    .gridsquare
      .gallery_item.photo.artifact{:id=> dom_id(p), :src => p.url}
        = image_tag p.thumbnail_url, :alt => p.title
        %br
        %span.title= truncate(p.title, :length => 20)
        .info.title.hidden
          = p.title
          = p.description
  .clear
  - if @photos.any?
    .instructions
      Drag photos from above to the box below to create your movie.
      = link_to_function 'Add all photos to movie', "editor.addCurrentArtifacts();"
:javascript
  editor.getArtifactPicker().createDraggables($A(jQuery('.gallery_item')));
