<p id="<%= container_id if local_assigns[:container_id] %>" class="error <%= container_class if local_assigns[:container_class] %>">
  <%= label %>
  <%= element %>
	<span class="form_error_message">
	  <%= error %>
  </span>
</p>
