- if @backups.try(:any?)
  .clear &nbsp;
  Latest Backups
  %br
  - @backups.reject{|b| b.backup_source.nil? || b.backup_source.backup_site.nil?}.each do |job|
    .backup-box{:id => @boxid = dom_id(job)}
      = backup_progress_bar(job)
      
      .backup_tip{:id => @tipid = dom_id(job, 'tip'), :style => "display: none;"}
        %span{:style=>"font-weight: bold"}== #{job.backup_source.backup_site.name.capitalize} #{job.percent_complete}% Complete #{job.successful? ? '' : '- Failed'}
        %br
        - if job.finished_at
          == Finished #{distance_of_time_in_words(job.finished_at, Time.now)} ago
          %br
        - if sched = job.backup_source.next_backup_at
          == Next backup in #{distance_of_time_in_words(Time.now, sched)}
  #hideit{:style => "float: right;"}
    = link_to_function 'hide', "$('backups').hide();"
  .clear &nbsp;
- else
  No Recent Backups
  
:javascript
  document.observe('dom:loaded', function() {
    $$('.backup-box').each(function(box) { new Tip(box, $('tip_' + box.id), { 
      fixed: true, hideOthers: true, viewport: true
    }); });
  });