<div class='flash_notice' id='notice'></div>
<%= show_flash_messages :fade => 30 %>

<h1><%= @current_user.full_name %>'s Timeline</h1>
<%= 
  #render :partial => 'backup_bars', :locals => {:backups => @backups} 
%>

<div id="tl_flash_notice" style="display: none"></div>
<div id="tl_flash_error" style="display: none"></div>
<div id="item_details">
  <div class="clearboth"></div>
</div>
<div class="alignleft">
  <div id="month-selector">
    <a id="month_selector_down" href="#" class="btn-left"></a><span id="display_month" class="subtitle6"></span><a id="month_selector_up" href="#" class="btn-right"></a><a id="year_selector_down" href="#" class="btn-left"></a><span id="display_year" class="subtitle6"></span><a id="year_selector_up" href="#" class="btn-right"></a>
  </div>
</div>
<div class="search-timeline">
  <% form_remote_tag :url => user_search_path, :method => 'get', :update => 'search-results', 
    :html => {:class => 'search-form'}, :loading => "spinner.load('events')", :complete => "spinner.unload(); onSearchComplete();" do %>
    <%= text_field_tag :terms, params[:terms], :class => 'search-input withHint', :defaultValue => 'Search Timeline' %>
    <%= submit_tag("Search", :class => 'search-button') %>
  <% end %>
</div>
  

<div class="timelinebox">
  <div id="my-timeline"></div>
  <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
</div>

<div id="timeline_links">
  <div style="float: left;">
    <%= render :partial => 'where_is_data' %>
  </div>
  <div style="float: right;">
    <%= link_to_function "Today", "ETERNOS.timeline.reload({today: true});" %>&nbsp;|&nbsp;
    <%= link_to_function "Refresh", 'ETERNOS.timeline.reload()' %>&nbsp;|&nbsp;
    <%= link_to "What is this?", image_path('member_home_help.jpg'), :class => "lightview" %>
    <%= #render :partial => 'helplink' 
    %>
  </div>
</div>
<div id="debug_box" class="debug_container"></div>
<div id="timeline-detail">
  <!--
  <div id="proximity_search">
    <a class="btn-left" href="#" id="prev_event_search"></a>
    <%= #link_to_function 'Present', "timeline.reload({today: true});", :class => 'subtitle6' 
    %>
    <a  class="btn-right" href="#" id="next_event_search"></a>
	</div>
	-->
</div>
<p>&nbsp;</p>
<div id="back-to-events-button" class="back-events"><a href="javascript:void(0);" onclick="onShowEvents();">Show Events</a></div>

<div id="search-results"></div>
<div id="events"></div>
<br/>
<div id="timeline-footer" class="tl_helptext">
  <span class="tl_helptext">
    If you have any problems, suggestions, or concerns with our service, please use the "FEEDBACK" button that is along the right side of your screen.  We welcome any feedback you might have!
  </span>
</div>
<%= javascript_tag "
// Set globals
ETERNOS.user_id       = #{current_user.id};
ETERNOS.tl_start_date = '#{@tl_start_date}';
ETERNOS.tl_end_date   = '#{@tl_end_date}';
ETERNOS.fake_timeline = #{@fake ? 'true' : 'false'};
ETERNOS.loadingBoxTimeoutSeconds = 30;

document.observe('dom:loaded', function() {
  drawETimeline();
  $('back-to-events-button').hide();

  createTagCloud('#{tag_cloud_timeline_url}', {
    user_search_path: '#{user_search_path}?terms='
  });
});
"
%>

