<% javascript 'jsProgressBarHandler', 'cookiejar' %>

<% use_timeline %>
<% use_flashplayer %>

<% header @member_name %>

<div id="content-container3">
  <div id="timeline-top">
    <div id="backups" class="backup-container">
      <%= render :partial => 'backup_bars', :locals => {:backups => @backups} 
      %>
    </div>
    
    <div id="flash_notice" style="display: none"></div>
    <div id="flash_error" style="display: none"></div>
    
    <div class="alignleft">
      <div id="month-selector">
        <a id="month_selector_down" href="#" class="btn-left"></a><span id="display_month" class="subtitle6"></span><a id="month_selector_up" href="#" class="btn-right"></a><a id="year_selector_down" href="#" class="btn-left"></a><span id="display_year" class="subtitle6"></span><a id="year_selector_up" href="#" class="btn-right"></a>
      </div>
    </div>
    <div id="timeline_links" class="alignright">
      <%= link_to_function "Refresh", 'timeline.reload()' %>&nbsp;|&nbsp;
      <%= render :partial => 'helplink' %>
    </div>
    <div class="clearboth"></div>
    
    <div class="timelinebox">
      <div id="my-timeline"></div>
      <noscript>This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.</noscript>
    </div>
    <div id="debug_box" class="debug_container"></div>
    
		<div class="dotline"></div>
  </div>
  <div id="video_section" style="display:none;">
    <div id="player" class="player plain medium"></div>
    <div class="float:right">
      <%= link_to_function 'Close Video Player', "$('video_section').hide();" %>
    </div>
  </div>
  <div class="clearboth"></div>
  <div id="timeline-detail">
    <div id="proximity_search">
      <a class="btn-left" href="#" id="prev_event_search"></a><%= link_to_function 'Present', "timeline.reload({today: true});", :class => 'subtitle6' %><a  class="btn-right" href="#" id="next_event_search"></a>
		</div>
		<div class="clearboth"></div>
		<div id="item_details"><div class="clearboth"></div></div>
    <div id="story-area"></div>
    <div id="arti-area"></div>			            
		<div class="clearboth"></div>
  </div>
  <br/>
  <div id="timeline-footer" class="tl_helptext">
  <span class="tl_helptext">
    If you have any problems, suggestions, or concerns with our service, please use the "FEEDBACK" button that is along the right side of your screen.  We welcome any feedback you might have!
  </span>
  </div>
</div>

<%= javascript_tag("
var timeline;
document.observe('dom:loaded', function() {
  timeline = new ETimeline({month_selector_id: 'month-selector',
    artifact_section_id: 'arti-area',
    events_section_id: 'story-area',
    timeline_section_id: 'my-timeline',
    timeline: {
      memberID: #{current_user.id}, 
      startDate:'#{@tl_start_date}', 
      endDate: '#{@tl_end_date}', 
      options: {
        max_results: 100
        #{if @fake; ', fake: true' end}
      }
    }
  });
  timeline.draw();

  Event.observe(window, 'lightview:hidden', function(e) { 
    //timeline.reload(); 
  });
});") unless @hide_timeline %>

