<% use_prototip %> 
<% use_lightview %>
<% use_lowpro %>
<% javascript 'account_setup', 'scroller', 'slider' %>

<td class="col1" valign="top">
  <!--><div class="link-category">About</div>-->
  <%= link_to "Company", "/about/company", {:class => 'navbtn1'} %>
  <%= link_to "Management", "/about/team", {:class => 'navbtn1'} %>
  <%= link_to "Careers", "/about/careers", {:class => 'navbtn1'} %>
  <%= link_to "Press", "/about/press", {:class => 'navbtn1'} %>
  <%= link_to "Contact", "/about/contact", {:class => 'navbtn1'} %>
  <!--<%= link_to "Foundation", "/about/foundation", {:class => 'navbtn1'} %>-->
  <%= link_to "Privacy", "/about/privacy", {:class => 'navbtn1'} %>
  <%= link_to "Terms Of Use", "/about/terms", {:class => 'navbtn1'} %>
 
</td>