<div class="content what">
  <fieldset>
  <div class="what01">
    <p>
    We are always looking to meet highly skilled, experienced professionals that can demonstrate both skill and passion.  
    <!--
    We do not currently have any active job openings, but we can and will make room for the right individuals in our fast moving office.
    -->
    </p>

  <br />
  <!--
  <div class="subtitle3">Senior Software Engineer</div>
  <div class="list1">
    <div class="dot"><%= image_tag("dot.gif") %></div>
    <div class="textarea4">Skills: Ruby, Java, JavaScript</div>
  </div>
  <div style="clear:both"></div>
  <div class="list1">
    <div class="dot"><%= image_tag("dot.gif") %></div>
    <div class="textarea4">Hiring status: Closed</div>
  </div>
  <div style="clear:both"></div>
  <br />
  <div class="subtitle3">Senior System Administration</div>
  <div class="list1">
    <div class="dot"><%= image_tag("dot.gif") %></div>
    <div class="textarea4">Skills: Ubuntu, CentOS, Perl, Ruby, Python, MySQL, EC2</div>
  </div>
  <div style="clear:both"></div>
  <div class="list1">
    <div class="dot"><%= image_tag("dot.gif") %></div>
    <div class="textarea4">Hiring Status: closed</div>
  </div>
  <div style="clear:both"></div>
  <br />
  -->
  <p>
    If you would like to contact us regarding career opportunities, please send your resume in DOC or PDF format with a cover letter to <%= mail_to "jobs@eternos.com?subject=Career Inquiry", "jobs@eternos.com",  :encode => "hex"  %>.
  <p>
  </div>
  </fieldset>
</div>