<div id="topbar">
    	<div class="title1">Executive Team</div>
    </div>
    <div id="content-container">
    	<table class="table1">
        	<tr>
            	<%= render :partial => 'left_nav' %>
                <td class="col2" valign="top">&nbsp;</td>
                <td class="col3" valign="top">
                	<span class="subtitle1">Company:</span>
                    <span class="subtitle2">Executive</span>
                    <span class="subtitle1">Team</span>
				    <div class="nametext1"><b>Andrew Edmond</b>, CEO, Co-founder</div>
                    <div class="textarea3">
	 				<div style="float: left; margin: 8px 8px 8px 0;">
						<script type="text/javascript" src="http://files.brightcove.com/js/swfobject.js"></script>
											<script type="text/javascript">
												var flashvars = {playFile: "management-jeremy-allaire.flv"};
												swfobject.embedSWF("http://files.brightcove.com/video-player.swf", "videoPlayer", "140", "105", "6.0.0","http://files.brightcove.com/expressinstall.swf", flashvars);
											</script>
											<div class="flv">
												<span id="videoPlayer"></span>
											</div>
						</div>
                    	Andrew moved to the Seattle area in 1996 after attending both the University of Wyoming and the University of Southern California.  At the age of 24, he founded an Internet advertising and marketing company that grew to 180 employees and $35 million in revenue by 2001.  As the co-founder of PeoplePeople, an e-Commerce firm; as the co-founder of GridNetworks, a video content delivery network; and his professional services firm, Andrew Edmond Consulting; he has proven himself a successful serial entrepreneur.  Andrew is excited to be a part of the Eternos Team and looking forward to continuing to pioneer in this market.
                    </div>                
                    <div style="clear:both"></div>

				 <div class="nametext1"><b>Marc Mauger</b>, CTO, Co-founder</div>
                    <div class="textarea3">
	 				<div style="float: right; margin: 8px 8px 8px 8px;">
						<script type="text/javascript" src="http://files.brightcove.com/js/swfobject.js"></script>
											<script type="text/javascript">
												var flashvars = {playFile: "management-jeremy-allaire.flv"};
												swfobject.embedSWF("http://files.brightcove.com/video-player.swf", "videoPlayer2", "140", "105", "6.0.0","http://files.brightcove.com/expressinstall.swf", flashvars);
											</script>
											<div class="flv">
												<span id="videoPlayer2"></span>
											</div>
						</div>
                    Marc Mauger is a Seattle native, attending the University of Washington Computer Science program.  After college and for the past eleven years, Marc has spent his time as a developer, manager, visionary, architect, and general Internet guru across multiple media platforms, languages, technologies, and architectures.  Marc is an open source enthusiast and has guided Eternos from concept to a high capacity, secure Ruby on Rails application prepared for tremendous growth.  Marc is most passionate about providing services that will have a lasting value for it's users, and is understandably very proud of his work with Eternos.com.
                    </div>
                    <div style="clear:both"></div>
  <div class="nametext1"><b>Eric Andrews</b>, Chairman, Co-founder</div>
                    <div class="textarea3">
	 				<div style="float: left; margin: 8px 8px 8px 8px;">
					<script type="text/javascript" src="http://files.brightcove.com/js/swfobject.js"></script>
					<script type="text/javascript">
							var flashvars = {playFile: "management-jeremy-allaire.flv"};
							swfobject.embedSWF("http://files.brightcove.com/video-player.swf", "videoPlayer3", "140", "105", "6.0.0","http://files.brightcove.com/expressinstall.swf", flashvars);
					</script>
					<div class="flv">
							<span id="videoPlayer3"></span>
					</div>
					</div>
           Andrew moved to the Seattle area in 1996 after attending both the University of Wyoming and the University of Southern California.  At the age of 24, he founded an Internet advertising and marketing company that grew to 180 employees and $35 million in revenue by 2001.  As the co-founder of PeoplePeople, an Internet ecommerce firm, and as the co-founder of GridNetworks, a video content delivery network, he has proven himself a successful serial entrepreneur.  Andrew co-founded Eternos in 2007.
                    </div>
                    <div style="clear:both"></div>
                    <br />
                    <span class="subtitle4">Company:</span>
                    <span class="subtitle3">Advisors</span>
					<div style="clear:both"></div>
					<div class="textarea2">
					<br />
					Eternos is ever grateful to it's advisors for their gracious time and advice in building and growing our product!
					<br /><br />
                    <div class="list2">
                    	<div class="dot3"><%= image_tag "dot.gif" %></div>
                        <div class="textarea5"><span class="bluetext">David Eisenberg,</span> <i>Creative Advisor</i></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list2">
                    	<div class="dot3"><%= image_tag "dot.gif" %></div>
                        <div class="textarea5"><span class="bluetext">Tony Wright,</span> <i>Startup Advisor</i></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list2">
                    	<div class="dot3"><%= image_tag "dot.gif" %></div>
                        <div class="textarea5"><span class="bluetext">Hoby Van Hoose,</span> <i>User Interface Advisor</i></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list2">
                    	<div class="dot3"><%= image_tag "dot.gif" %></div>
                        <div class="textarea5"><span class="bluetext">Deidra Johnson,</span> <i>Human Resources and Financial Advisor</i></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="list2">
                    	<div class="dot3"><%= image_tag "dot.gif" %></div>
                        <div class="textarea5"><span class="bluetext">Robin Schauer,</span> <i>Marketing and Sales Advisor</i></div>
                    </div>
					</div>
                    <div style="clear:both"></div>
                </td>
            </tr>
         </table>
    </div>
    <div style="clear:both"></div>
    <%#= image_tag "body-bottom.png" %>
