<div class="content what">
  <fieldset>
    <div class="what01">
      <h1>Welcome to eternos</h1>
      <p>
        Eternos is a service that enables you to chronicle your life and leave a lasting memory to your descendants and loved ones. We are pleased to offer a premium life logging service that allows you to automatically import data from Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you are already doing on the web, Eternos empowers you to effortlessly document your legacy for descendants and preserve it for future generations. In addition, we offer a simple and intuitive video diary software for you to record whatever that happens to be on your mind and in your heart, at any time.
        </p>
        <p> Is Eternos secure? Of course.  All Eternos accounts are scanned daily using the widely popular and trusted “McAfee Secure” to ensure the security of your account and provide you peace of mind.  By preserving your legacy with Eternos.com, you will achieve some small measure of immortality by leaving leaving your descendants a priceless gift.  Our unique services allow you to share your experiences effortlessly, bridging geographic distance and time.
      </p>		
    </div>

    <h1>What are you waiting for? Sign up for your free trial today!</h1>
    <%= render :partial => 'accounts/short_form', :locals => {:plan => 'Basic'} %>
    <p><strong>Or sign up with your Facebook account</strong></p>
    <p><%= fb_login_button("EternosFB.create_account_form_cb()", :size => :medium, :background => :white, :length => :medium) %></a></p>
    <p class="home01"><em>*By proceeding, you confirm that your over 13 years of age and accpet the Privacy and Terms.</em></p>
    <hr />
    <fieldset>
      <%= render :partial => "feature", :locals => {:title => 'Life Key', :img => 'broken.jpg', :img_align => 'left', :text => 'Using Life Key, you can appoint trustees who can notify us upon your passing and we will provide them access to the memories you chose to leave them.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Search', :img => 'broken.jpg', :img_align => 'right', :text => 'Look up moments in your life quickly using our easy to use search feature.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Video Diary', :img => 'broken.jpg', :img_align => 'left', :text => 'Keep a video record of your life experiences and observations.  Your video diary will be an invaluable treasure for your descendents.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Automated / Continuous Import', :img => 'broken.jpg', :img_align => 'right', :text => 'Backup all your social networking data, emails, blogs and RSS feeds automatically.  Store everything that you do online so that you can go back and see what you were doing at any specific point in time.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Timeline', :img => 'broken.jpg', :img_align => 'left', :text => 'Create a timeline that you can scroll through by age, day, month or year.  View specific items at any point of your timeline.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Easy Event / Artifact Editing', :img => 'broken.jpg', :img_align => 'right', :text => 'Use this feature to tag events for easy reference, assign permissions to view events and to delete any content.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Eternos Momento Studio / Eternos Momento Player', :img => 'broken.jpg', :img_align => 'left', :text => 'Create beautiful slide presentations using pictures, videos and narrations.'} %>
      
    </fieldset>
  </fieldset>
</div>
<!-- end content -->