<div class="content what">
  <fieldset>
    <div class="what01">
      <h1>Welcome to eternos</h1>
      <p>
        Eternos is a service which enables you to easily / automatically chronicle your life for your benefit, and especially that of your descendants and loved ones. We are pleased to offer you a premium life logging service which automatically imports data from your Facebook, Twitter, Gmail, Blogs and RSS feeds. By logging the things you already do on the web, Eternos empowers you to effortlessly document your legacy for descendants which we preserve for future generations. Additionally, there is a simple and intuitive video diary for you to record whatever happens to be on your mind and in your heart.
        </p>
        <p> Is it secure? Yes. Eternos comes standard with the piece of mind of knowing the widely used and trusted “McAfee Secure” checks daily to ensure the security of your account. 
          <br/>By preserving your legacy with Eternos.com, you do your descendants an incredible service while achieving some small measure of immortality. Other services allow you to bridge geographic distance to share experiences, Eternos gives you the means to bridge time.
      </p>		
    </div>

    <h1>What are you waiting for? Sign up for your free trial today!</h1>
    <%= render :partial => 'accounts/short_form', :locals => {:plan => 'Basic'} %>
    <p><strong>Or sign up with your Facebook account</strong></p>
    <p><%= fb_login_button("EternosFB.create_account_form_cb()", :size => :medium, :background => :white, :length => :medium) %></a></p>
    <p class="home01"><em>*By proceeding, you confirm that your over 13 years of age and accpet the Privacy and Terms.</em></p>
    <hr />
    <fieldset>
      <%= render :partial => "feature", :locals => {:title => 'Life Key', :img => 'image02.jpg', :img_align => 'left', :text => 'With life key you appoint trustees that will notify us, and gain access to the memories you choose to share with them.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Search', :img => 'image02.jpg', :img_align => 'right', :text => 'A quick and easy way to search your life.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Video Diary', :img => 'image02.jpg', :img_align => 'left', :text => 'Keep a record of your personal experiences and observations. Your video diary will be an invaluable treasure for your descendants.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Automated / Continuous Import', :img => 'image02.jpg', :img_align => 'right', :text => 'Automatically back up all your social networking, emails, blogs, and even your RSS feeds. Go back in time to see what you were doing at a specific time!'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Timeline', :img => 'image02.jpg', :img_align => 'left', :text => 'A timeline that you can scroll by age, day, month, and year and view the items for that date.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Easy Event / Artifact Editing', :img => 'image02.jpg', :img_align => 'right', :text => 'Tag, assign permissions, delete content.'} %>
      
      <%= render :partial => "feature", :locals => {:title => 'Eternos Momento Studio / Eternos Momento Player', :img => 'image02.jpg', :img_align => 'left', :text => 'Create slide presentations out of pic, video, and narration and share on your Facebook profile!'} %>
      
    </fieldset>
  </fieldset>
</div>
<!-- end content -->