- stylesheet 'trustees'
- use_form
- title 'Life Key'

%h1 Life Key Manager
%p
  Welcome to the Life Key manager.  From here you can add trustees that will be responsible for notifying us in the event you pass away.
%p
  In the event of your passing, your trustees will be given access to your account based upon permissions that you select. 
%p
  Add the name, nature of your relationship, and email for each trustee. 
%p &nbsp;
/-= link_to 'Eternos Life Key Details', '#'
.clear & nbsp;

#new_trustee{:style => style_hidden_if(@trustee.errors.empty?)}
  %h1 Enter new trustee contact details below
  #notice
  #rjs_notice
  - form_for @trustee, :html => { :id => 'new_trustee_form', :class => 'trustee_form remote_form' } do |f|
    = render :partial => 'form', :locals => {:f => f, :trustee => @trustee}
    .clear &nbsp;
    %p
      %a#remote_form_submit_button= image_tag('trustees/add-button2.png')
      = link_to 'Cancel', '#', :id => "toggle_new_trustee", :class => "toggleable", :style => "marging-top:5px"

%h1 Verified Trustees
= render :partial => 'list', :locals => {:title => 'Verified', :trustees => @confirmed_trustees}
%br
%h1 Pending Trustees
= render :partial => 'list', :locals => {:title => 'Pending', :trustees => @pending_trustees}

<p align="center">
= link_to image_tag('add-button2.gif', :id => "toggle_new_trustee", :class => "toggleable"), '#'
</p>

#edit_trustee

