/- use_form
- stylesheet 'trustees'
- title_icon '<h2 id="main">Trustees</h2>'

.half.left{:style => "width: 420px"}
  %p.border-dotted
    In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, nunc eget pretium porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.
  %h2.left 
    Lorem
    %span Ipsum
  
  = link_to image_tag('trustees/add-button1.png', :id => "toggle_add_trustee", :class => "toggleable"), '#', :class => 'right'
  .clear &nbsp;

  #add_trustee{:style => style_hidden_if(@trustee.errors.empty?)}
    %p Enter new trustee contact details below
    #rjs_notice
    - form_remote_for @trustee do |f|
      = render :partial => 'form', :locals => {:f => f, :trustee => @trustee}
      .clear &nbsp;
      .button
        = link_to_function image_tag('trustees/add-button2.png'), "$(this).up('form').onsubmit()"
        = link_to 'Cancel', '#', :id => "toggle_add_trustee", :class => "toggleable", :style => "marging-top:5px"

.half.right
  #table
    .header Current Trustees
    .body
      .title
        .row1 Name
        .row2 Relationship
        .row3 Email
        .row54 Action
        .clear
      #trustees_table_rows
        = render :partial => @trustees if @trustees.any?
    .footer &nbsp;
.clear &nbsp;