- use_form
- title_icon image_tag 'contactus.png', :class => 'alignleft'
- title 'Trustees'
- header 'lorem ipsum'

.content_title.alignleft
  %h2 Lorem Ipsum
.clearboth

%br
%p.alignleft= link_to image_tag('newguestbtn.gif', :id => "toggle_add_trustee", :class => "toggleable"), '#'
.clearboth

#add_trustee.alignleft{:style => style_hidden_if(@trustee.errors.empty?)}
  %p Enter new trustee contact details below
  %br
  #rjs_notice
  - form_remote_for @trustee do |f|
    = render :partial => 'form', :locals => {:f => f, :trustee => @trustee}
    = submit_tag 'Add Trustee', :disable_with => "Adding..."
    = link_to 'Cancel', '#', :id => "toggle_add_trustee", :class => "toggleable"

%p
%br.clearboth
%br
- if @trustees.any?
  
  Current Trustees
  %br
  %table#trustees_table
    = render :partial => @trustees