- use_form
- stylesheet 'trustees'
- header 'Life Key Manager' 

#content-container3
  .half.left{:style => "width: 420px"}
    %p
      Welcome to the Life Key manager. Here you can add trustees that will be responsible for notifying us in the event you pass away. In the event of your passing, your trustees will be given access to your account based upon permissions that you select. Add the name, nature of your relationship, and email for each trustee. 
  
    = link_to image_tag('trustees/add-button1.png', :id => "toggle_new_trustee", :class => "toggleable"), '#', :class => 'right'
    .clear &nbsp;

    #new_trustee{:style => style_hidden_if(@trustee.errors.empty?)}
      %p Enter new trustee contact details below
      #rjs_notice
      - form_for @trustee, :html => { :id => 'new_trustee_form', :class => 'remote_form' } do |f|
        = render :partial => 'form', :locals => {:f => f, :trustee => @trustee}
        .clear &nbsp;
        .button
          %a#remote_form_submit_button= image_tag('trustees/add-button2.png')
          = link_to 'Cancel', '#', :id => "toggle_new_trustee", :class => "toggleable", :style => "marging-top:5px"

  .half.right
    #table
      .header Confirmed Trustees
      .body
        .title
          .row1 Name
          .row2 Relationship
          .row4 Action
          .clear
        #confirmed_trustees_table_rows
          = render :partial => @confirmed_trustees if @confirmed_trustees.any?
      .footer &nbsp;
    %br
    #table
      .header Pending Trustees
      .body
        .title
          .row1 Name
          .row2 Relationship
          .row4 Action
          .clear
        #pending_trustees_table_rows
          = render :partial => @pending_trustees if @pending_trustees.any?
      .footer &nbsp;
  .clear &nbsp;