- item = medical_condition
- content_for :icon do
  = image_tag '/javascripts/timeline/icons/medic-cond.png'
- content_for :body do
  %p
    %b Condition: 
    = item.name
  %br
  %p
    %b Diagnosis: 
    = item.diagnosis
    - if item.diagnosis_date
      %br= item.diagnosis_date.to_s(:long)
  %br
  %p
    %b Treatment: 
    = item.treatment
    - if item.treatment_start_on
      %br== #{item.treatment_start_on} to #{item.treatment_end_on}
  %p
  %br= item.notes
  
= render :partial => 'shared/item_details', :locals => {:item => item}