- hide_login_box
- stylesheet 'application'

.content.home
  %fieldset
    .login
      %h4 You're almost done!  Just select a password to complete your registration.
      
      = show_flash_messages
        
      /= custom_error_messages_for :user_session

      <div style="clear:both"></div>
      - form_for_using_ssl @user_session, :url => {:action => 'save_password', :method => :post} do |f|
        %br
        %p
          %label Login:
          = f.text_field :login, {:id => "username", :class => 'withHint', :defaultValue => 'email address'}
          %br
          <em>Must be the email address that received the Eternos Activation email.</em>
        %p
          %label Choose Password: 
          = f.password_field :password, {:id => "password-created2"}
          %br
          <em>6 characters minimum</em>
        %p
          %label Confirm Password: 
          = password_field_tag :password_confirmation

        %p{:align=>"right"}= submit_tag 'submit', :value => 'Save', :class => "login verification", :id => "login_button"
      %p 
        %label &nbsp;
        = check_box_tag 'user_session[remember_me]'
        Remember me
      %p
        %label &nbsp;
        or login with Facebook connect
        = render :partial => 'shared/facebook_connect_button'
        /= authlogic_facebook_login_button
      <p>&nbsp;</p>
      
