<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns:fb='http://www.facebook.com/2008/fbml' xmlns='http://www.w3.org/1999/xhtml'> 
<head>
<meta content='IE=8' http-equiv='X-UA-Compatible' /> 
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Eternos Account Setup</title>
<% stylesheet '/javascripts/lightview2.5.2.1/css/lightview.css', 'prototip' %>
<link href="/stylesheets/vault/style.css" rel="stylesheet" type="text/css" />
<!--[if lte IE 7]>
	<link href="stylesheets/vault/style-ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="/javascripts/curvycorners.js"></script>
<%= yield(:head) %>
</head>
<body>
  <div class="header">
    <%= render :partial => 'shared/home_login_form' %>
    <%= link_to image_tag('vault/logo.png'), root_path %>
  	<ul>
  		<li class="inact"><%= link_to 'Home', vault_dashboard_path %><span></span></li>
  		<li class="active"><%= link_to 'Account Setup', account_setup_path %><span></span></li>
  		<li class="inact"><%= link_to 'Manage Account', account_manager_path %><span></span></li>
  	</ul>
  </div>
  <fieldset class="content">
    <div class="left">	
      <div class="myBox box01">
          <h2>Backup Services</h2>
          <p>Copy here</p>
      </div>
    </div>
  
  	<div class="content-box home">
  		<%= yield %>
  	</div>
  </fieldset>

<%= render :partial => 'shared/vault_footer' %>
<%= javascript_include_tag "jQuery/jquerytools-1.1.2.min", "application_jquery" %>
<%= javascript_tag "
  // Accordion  setup 
  jQuery(function() { 
    jQuery('#accordion').tabs('#accordion div.pane', {tabs: 'p', effect: 'slide', initialIndex: 0});
  });"
%>
<%= javascript_include_tag "prototype", "scriptaculous", "effects", "controls", "lightview2.5.2.1/js/lightview", 'application', 'login', 'lowpro', 'behaviors', 'account_setup', :cache => "cache/account_setup" %>
<%= fb_connect_javascript_tag %>
<%= init_fb_connect "XFBML" %>
</body>
</html>
