<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Home</title>
  <% stylesheet 'application', 'media', '/javascripts/lightview2.5.2.1/css/lightview.css', 'prototip', 'soundmanager-ui', 'inlineplayer', :cache => "cache/vault_dashboard" %>
  <% load_jquery_prototype_compat_mode %>
  <%= yield(:head)  %>
  <%= yield(:js_libs) %>
  <link href="/stylesheets/vault/style.css" rel="stylesheet" type="text/css" />
  <!--[if lte IE 7]>
  	<link href="stylesheets/vault/style-ie7.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="/javascripts/curvycorners.js"></script>
</head>
<body>
  <div class="header">
    <%= render :partial => 'shared/home_login_form' %>
    <%= link_to image_tag('vault/logo.png'), vault_home_path %>
  	<ul>
  		<li class="active"><%= link_to 'Home', vault_dashboard_path %><span></span></li>
  		<li class="inact"><%= link_to 'Account Setup', account_setup_path %><span></span></li>
  		<li class="inact"><%= link_to 'Manage Account', account_manager_path %><span></span></li>
  	</ul>
  </div>
  <fieldset class="content">
  	<div class="left">	
      <%= render :partial => 'shared/leftnav_backup_services', :locals => {:settings => @settings} %>       
	    
    	<p>&nbsp;</p>
    	<h2>Search your archive</h2>
    	<% form_tag "javascript:void(0);", :class => 'search', :onsubmit => "searchArchive(this.terms.value); return false" do %>
        <%= text_field_tag :terms, params[:terms], :class => 'search-input withHint', :defaultValue => 'Search' %>
        <%= submit_tag("Search", :class => 'search-button') %>
        <em>You can search your entire archive by keyword<br/> from here</em>
      <% end %>
      
      <p>&nbsp;</p>
      <div class="myBox box01">
          <h2>Welcome to Vault</h2>
          <p>Copy here</p>
      </div>
    </div>

  	<div class="content-box home">
  		<%= yield %>
  	</div>
  </fieldset>
  <%= render :partial => 'shared/vault_footer' %>
  <%= javascript_include_tag "prototip2.1.0.1/js/prototip", "effects", "controls", "lightview2.5.2.1/js/lightview", "flowplayer-3.1.4.min", "flowplayer.playlist-3.0.7", 'soundmanager2', 'inlineplayer', 'application', "lowpro", "defaultvalueactsashint", "behaviors", 'login', 'cvi_busy_lib', :cache => 'cache/vault_dashboard' %>
  <%= javascript_tag "ETERNOS.session_timeout_seconds = #{session_timeout_seconds}; ETERNOS.debug = #{Rails.env == 'development' ? 'true' : 'false'};" %>
</body>
</html>
  

