!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Setup Your Account")
    / bundle do
    /#- stylesheet 'member', 'screen', 'application' #, 'new_member/style'
    - stylesheet 'application', 'account_settings', 'new_design/members', 'new_design/misc-fix'
    <!--[if lte IE 7]>
    <link href="/css/styleie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lte IE 6]>
    <link href="/css/styleie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    - load_prototype unless @no_prototype
    - use_lightview
    - use_lowpro
    - use_prototip
    - javascript 'application', 'login', 'account_setup'
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    = yield(:javascript)
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    .page-content.login1
      %fieldset
        .login1_left
          %h1 Account Setup
          %ul.signup-left
            %li#step1{:class => get_signup_wizard_step_class(@settings.any_activated)}
              %strong Step 1
              %br
              %span Online Accounts
            %li#step2{:class => get_signup_wizard_step_class(@completed_steps > 2)}
              - if @completed_steps >= 2
                %strong Step 2
              - else 
                Step 2
              %br
              %span Invite Friends
    
        = yield
        
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"
    :javascript
      // This needs to be global to all js
      var lightview_height = 0.9 * win_dimension()[1];
      //alert('lightview_height = ' + lightview_height);
      Element.observe(window, 'load', function() { 
        handle_timeout_popups(#{session_timeout_seconds});
      });
