!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Setup Your Account")
    / bundle do
    /#- stylesheet 'member', 'screen', 'application' #, 'new_member/style'
    - stylesheet 'account_settings'
    - stylesheet 'application', 'new_design/members', 'new_design/misc-fix'
    <!--[if lte IE 7]>
    <link href="/css/styleie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lte IE 6]>
    <link href="/css/styleie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    - load_prototype
    - use_lightview
    - use_scrollbar
    - use_calendar
    - use_busy
    - use_lowpro
    - use_form
    - javascript 'application', 'account_setup', 'timezone_detector'
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    = yield(:javascript)
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    - link_class = gen_step_class(1, @active_step)   
    .page-content.login1
      %fieldset
        / Left nav
        .login1_left
          %h1 Profile
          
          = render :partial => 'account_settings/setting_nav'
        / Right content
        .login1_right.login1-mid.login2-mid
          = yield
        
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"

