!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Setup Your Account")
    / bundle do
    /#- stylesheet 'member', 'screen', 'application' #, 'new_member/style'
    - stylesheet 'application', 'account_settings', 'new_design/members', 'new_design/misc-fix', '/javascripts/lightview2.5.2.1/css/lightview.css', 'prototip'
    <!--[if lte IE 7]>
    <link href="/css/styleie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lte IE 6]>
    <link href="/css/styleie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    
    = yield(:head)
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    .page-content.login1
      %fieldset
        .login1_left{:style => "width: 200px;"}
          %h1 Account Setup
          %ul.signup-left
            %li#step1{:class => get_signup_wizard_step_class(@settings.any_activated)}
              - if @active_step <= 1
                %strong Step 1
              - else
                Step 1
              %br
              %span Online Accounts
            %li#step2{:class => get_signup_wizard_step_class(@completed_steps > 2)}
              - if @active_step == 2
                %strong Step 2
              - else 
                Step 2
              %br
              %span Invite Friends
    
        = yield
        
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    - if @active_step <= 1
      = javascript_include_tag "jQuery/jquerytools-1.1.2.min", "application_jquery"
      :javascript
        // Accordion  setup 
        jQuery(function() { 
          jQuery('#accordion').tabs('#accordion div.pane', {tabs: 'p', effect: 'slide', initialIndex: 0});
        });
    = javascript_include_tag "prototype", "scriptaculous", "effects", "controls", "lightview2.5.2.1/js/lightview", 'application', 'login', 'lowpro', 'behaviors', 'account_setup', :cache => "cache/account_setup"
    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"


