!!!
%html{html_attrs('en')}
  %head
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= "Eternos Members - " + h(yield(:title) || "Home")
    / bundle do
    - stylesheet 'member', 'screen', 'application', '/javascripts/lightview/css/lightview'
    / Put these in partials as needed: javascript :defaults, 'CustomFormElements', 'cvi_busy_lib'
    = yield(:head)
    = yield(:javascript)
    = javascript_include_tag prototype, scriptaculous, 'lightview/js/lightview'
    / end bundle
  %body
    #container
      .content_title.alignleft
        %h2= yield(:title)
        
      / for rjs flash notices
      #notice.flash_notice= show_flash_messages

      .context
        .clearboth
        %p= yield(:header)
          
      = yield
      / end of sub content
      .clearboth