!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Member Home")
    
    - load_jquery_prototype_compat_mode
    /- use_prototip
    /- use_lightview
    /- use_lowpro
    /- use_timeline
    /- use_busy
    /- use_flashplayer
    /- javascript 'login', 'member_home'
    - stylesheet 'application', 'new_design/members', 'new_design/misc-fix', 'timeline', 'media', '/javascripts/lightview2.5.2.1/css/lightview.css', 'prototip', 'soundmanager-ui', 'inlineplayer', :cache => "cache/member_home"
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    /= yield(:javascript)
    = javascript_include_tag "prototip2.1.0.1/js/prototip", "effects", "controls", "lightview2.5.2.1/js/lightview", "flowplayer-3.1.4.min", "flowplayer.playlist-3.0.7", 'soundmanager2', 'inlineplayer', 'application', "lowpro", "defaultvalueactsashint", "behaviors", "date", "inflection", 'login', 'member_home', :cache => 'cache/member_home'
    = javascript_include_tag "timeline/timeline_ajax/simile-ajax-api.js", "timeline/timeline_js/timeline-api.js", "timeline_helper"
    = javascript_tag "ETERNOS.session_timeout_seconds = #{session_timeout_seconds}; ETERNOS.debug = #{Rails.env == 'development' ? 'true' : 'false'};"
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    / start content
    #content.page-content.login1
      %fieldset
        / start login1_left
        .login1_left
          = render :partial => 'shared/leftnav_links'
          = render :partial => 'shared/leftnav_backup_services', :locals => {:settings => @settings}
          <p>&nbsp;</p>
          #artifacts-header
          <p>&nbsp;</p>         
          %h1 Tag Cloud
          #tag-cloud
          <p>&nbsp;</p>
        / end login1_left
        
        / start sub content
        .login1_right.home
          = yield
        / end sub content
    / end content
          
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback
    
    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"
