!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Member Home")

    - load_prototype unless @no_prototype
    - use_lightview
    - use_lowpro
    - use_prototip
    - use_timeline
    - javascript 'application', 'login'
    - stylesheet 'new_design/members', 'new_design/misc-fix'
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    = yield(:javascript)
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        %ul
          %li{:class => members_tab_class_active?('timeline')}
            = link_to 'Home', member_home_path
            %span
          %li{:class => members_tab_class_active?('account_info')}
            = link_to_lightview 'Bio', account_settings_path, {:id => 'account-setting'}, {:rel => "'iframe'"}, {:autosize => false, :closeButton => false, :height => 'lightview_height', :width => '800'}
            %span
          %li{:class => members_tab_class_active?('account_setup')}
            = link_to 'Account Setup', account_setup_path
            %span
    
    
    / start sub content
    .login1_right.home
      = yield
    / end sub content
    / end content
          
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"
    :javascript
      // This needs to be global to all js
      var lightview_height = 0.9 * win_dimension()[1];
      //alert('lightview_height = ' + lightview_height);
      Element.observe(window, 'load', function() { 
        handle_timeout_popups(#{session_timeout_seconds});
      });
