!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %title= "Eternos Members - " + h(yield(:title) || "Home")
    / bundle do
    - stylesheet 'member', 'screen', 'application'
    = javascript_include_tag(prototype) unless @no_prototype
    - use_lightview
    - use_lowpro
    - javascript 'login'
    = yield(:head)
    = yield(:javascript)
    
    / end bundle
    
  %body
    #wrapper
      #header
        #logo.alignleft
          %h1= link_to((image_tag 'eternos.gif', :id => 'eternos_logo', :border => '0'),  root_path)
          /= render :partial => 'shared/login_box' unless @hide_login_box
        #menu.alignright
          - cache 'user_nav' do
            = render :partial => 'users/nav'
        .clearboth
      
      #topdiv
      #content
        .content_title.alignleft
          = yield(:title_icon)
          %h2= yield(:title)
            
        #inner_menu.alignright
          %ul#navlist
            %li.home= link_to 'homepage', member_home_path
            %li.support
              = link_to_lightview 'account settings', account_settings_path, {:id => 'account-setting'}, {:rel => "'iframe'"}, {:autosize => false, :closeButton => false, :height => 'lightview_height', :width => '800'}
            %li.logout= link_to 'log out', logout_path
        .clearboth
        
        / for rjs flash notices
        #notice.flash_notice
        = show_flash_messages
        /= render :partial => 'users/user_bar'
        .context
          %p= yield(:header)

        #sub_content
          /.content_title.alignleft
          .clearboth
          %br
          = yield
         
        / end of sub content
        .clearboth
        
      / end of content area  
      #bd
      = render :partial => 'shared/site_footer'
        
    = render :partial => 'shared/get_satisfaction'
    :javascript
      // This needs to be global to all js
      var lightview_height = 0.9*window.innerHeight;
      document.observe('dom:loaded', function() { 
        handle_timeout_popups(#{session_timeout_seconds});
        if (#{needs_account_setup(current_user) ? 'true' : 'false'}) {
          handle_account_setup();
        }
      });
      