!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Home")
    / bundle do
    /#- stylesheet 'member', 'screen', 'application' #, 'new_member/style'
    - stylesheet 'new_design/members', 'new_design/misc-fix'
    - load_prototype unless @no_prototype
    - use_lightview
    - use_lowpro
    - use_prototip
    - javascript 'application', 'login'
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    = yield(:javascript)
    / end bundle
  %body
    .header
      %div
        - form_for :user, logout_path do |f|
          Welcome,
          %strong= @current_user.full_name
          - if @facebook_session
            %li.logout= fb_logout_link "log&nbsp;out", logout_path
            = submit_tag 'FIX ME'
          - else
            = f.submit 'Log Out'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        %ul
          %li{:class => members_tab_class_active?('timeline')}
            = link_to 'Home', member_home_path
            %span
          %li{:class => members_tab_class_active?('account_info')}
            = link_to_lightview 'Bio', account_settings_path, {:id => 'account-setting'}, {:rel => "'iframe'"}, {:autosize => false, :closeButton => false, :height => 'lightview_height', :width => '800'}
            %span
          %li{:class => members_tab_class_active?('account_setup')}
            = link_to 'Account Setup', account_setup_path
            %span
    
    #content.content.login1
      %fieldset
        / for rjs flash notices
        #notice.flash_notice
        = show_flash_messages
        
        .login1_left
          %h1 Account Services
          %p
            = image_tag 'mini-facebook.gif', :class => @settings.facebook_confirmed ? "activated-services" : ""
            = image_tag 'mini-twitter.gif', :class => @settings.twitter_confirmed ? "activated-services" : ""
            = image_tag 'mini-gmail.gif', :class => @settings.gmail_confirmed ? "activated-services" : ""
            = image_tag 'mini-what.gif', :class => @settings.picasa_confirmed ? "activated-services" : ""
            = image_tag 'mini-rss.gif', :class => @settings.rss_confirmed ? "activated-services" : ""
            
          <p align="right">
          = link_to 'Add More', account_setup_path, :id => "active_network-add"
          </p>
          <p>&nbsp;</p>
          #searchbar= render :partial => 'shared/search_box', :locals => {:url => user_search_path}
          <br/>
          %h1 Account Features
          %ul#acct_settings
            %li= link_to 'Memento Studio', new_memento_path
            %li= recording_popup_link 'Video Journal'
            %li= link_to_lightview 'Upload', new_content_path(:dialog=>true), {}, {:rel => "'iframe'"}, {:autosize => false, :height => '800', :width => '600'}
            %li= link_to 'Life Key', trustees_path
            %li= link_to_lightview 'Images', image_gallery_path, {}, {:rel => "'iframe'"}, {:autosize => false, :height => '800', :width => '800'}

          <p>&nbsp;</p>
          %h1 Active Networks

          <p>&nbsp;</p>
          <div id="arti-area"></div>			    
          <p class="artifacts">
          <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" /><br />
          <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" /><br />
          <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" /> <img src="images/pic-artifacts.jpg" />
          </p>
          <p>&nbsp;</p>            
        <!-- end login1_left -->
        / start content
        = yield
        / end content
          
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"
    :javascript
      // This needs to be global to all js
      var lightview_height = 0.9 * win_dimension()[1];
      //alert('lightview_height = ' + lightview_height);
      Element.observe(window, 'load', function() { 
        handle_timeout_popups(#{session_timeout_seconds});
      });
