!!!
%html{html_attrs('en')}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Member Home")

    - load_prototype unless @no_prototype
    - use_lightview
    - use_lowpro
    - use_prototip
    - use_timeline
    - javascript 'application', 'login', 'member_home'
    - stylesheet 'application', 'new_design/members', 'new_design/misc-fix'
    
    = yield(:head)
    = yield(:js_libs)
    /- FIX: Doesn't work when put at bottom of <body>
    = yield(:javascript)
    = javascript_tag "ETERNOS.session_timeout_seconds = #{session_timeout_seconds}; ETERNOS.debug = #{Rails.env == 'development' ? 'true' : 'false'};"
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    / start content
    #content.page-content.login1
      %fieldset
        / start login1_left
        .login1_left
          %h1 Account Features
          %ul#acct_settings
            %li= link_to 'Profile', account_settings_path, :id => 'account-setting'
            /-%li= link_to 'Memento Studio', new_memento_path
            %li= recording_popup_link 'Video Journal'
            %li= link_to_lightview 'Upload', new_content_path(:dialog=>true), {}, {:rel => "'iframe'"}, {:autosize => false, :height => '800', :width => '600'}
            %li= link_to 'Life Key', trustees_path
            %li= link_to_lightview 'Images', image_gallery_path, {}, {:rel => "'iframe'"}, {:autosize => false, :height => '800', :width => '800'}
          <p>&nbsp;</p>
          %h1 Backup Services
          %p
            = backup_icon('facebook', '36x36', @settings.facebook_confirmed)
            = backup_icon('twitter', '36x36', @settings.twitter_confirmed)
            = backup_icon('gmail', '36x36', @settings.gmail_confirmed)
            = backup_icon('picasa', '36x36', @settings.picasa_confirmed)
            = backup_icon('rss', '36x36', @settings.rss_confirmed)
            
          <p align="right">
          = link_to 'Add More', account_setup_path(:step => 0), :id => "active_network-add"
          </p>
          <p>&nbsp;</p>
          / %h1 Tag Cloud
          /#tag-cloud
          /<p>&nbsp;</p>
          #artifacts-header
          <p>&nbsp;</p>         
             
        / end login1_left
        
        / start sub content
        .login1_right.home
          = yield
        / end sub content
    / end content
          
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    - if @facebook_session
      = fb_connect_javascript_tag
      = init_fb_connect "XFBML"
    
    :javascript
      document.observe('dom:loaded', function() {
        createTagCloud('#{tag_cloud_timeline_url}', {
          user_search_path: '#{user_search_path}?terms='}
        );
      });