!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv' => "Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos Members - " + h(yield(:title) || "Memento Creator")


    - stylesheet 'application', 'new_design/members', 'new_design/misc-fix', 'scrollable', 'scrollable-navig', 'media', '/javascripts/lightview2.5.2.1/css/lightview.css', 'soundmanager-ui', 'inlineplayer', 'mementos'
    <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=a30d1209-bf76-4100-b37d-6d0477b5fabd&amp;type=website&amp;popup=true&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine&amp;button=false"></script>
    <style type="text/css">
    body {font-family:helvetica,sans-serif;font-size:12px;}
    a.stbar.chicklet img {border:0;height:16px;width:16px;margin-right:3px;vertical-align:middle;}
    a.stbar.chicklet {height:16px;line-height:16px;}
    </style>
    = yield(:head)
    / end bundle
  %body
    .header
      %div
        = render :partial => 'shared/header_logout'
    
        = link_to((image_tag 'logo.png', :border => '0'),  member_home_path)
        = render :partial => 'layouts/member_tabs'
    
    / start content
    #content.page-content.login1
      %fieldset
        / start login1_left
        .login1_left
          %h1 Account Features
          %ul#acct_settings
            %li= link_to 'Upload', new_content_path
            %li= link_to 'Profile', account_settings_path, :id => 'account-setting'
            /-%li= link_to 'Memento Studio', new_memento_path
            /-%li= recording_popup_link 'Video Journal'
            %li= link_to 'Life Key', trustees_path
            %li= link_to_lightview 'Images', image_gallery_path, {}, {:rel => "'iframe'"}, {:autosize => false, :height => '800', :width => '800'}
            %li= link_to 'Invite Friends', account_setup_path(:step => 2)
          <p>&nbsp;</p>
          %h1 Backup Services
          %p
            = backup_icon('facebook', '36x36', @settings.facebook_confirmed)
            = backup_icon('twitter', '36x36', @settings.twitter_confirmed)
            = backup_icon('gmail', '36x36', @settings.gmail_confirmed)
            = backup_icon('picasa', '36x36', @settings.picasa_confirmed)
            = backup_icon('rss', '36x36', @settings.rss_confirmed)
            
          <p align="right">
          = link_to 'Add More', account_setup_path(:step => 0), :id => "active_network-add"
          </p>
          <p>&nbsp;</p>
          %h1 Previous Mementos
          %p
          %ul#mementos-list
            - @mementos[0..@max_listed-1].each do |m|
              %li
                == #{link_to_remote(truncate(m.title, :max_length => 30), :url => edit_memento_path(m), :method => 'get', :loading => "spinner.load('memento-editor');")}
                %br
                %span== created #{time_ago_in_words(m.created_at)} ago
            - if @mementos.size > @max_listed
              %li= link_to 'View all...', mementos_path
  
              
        / end login1_left
        
        / start sub content
        / Right content
        .login1_right.home
          = yield
        / end sub content
    / end content
          
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback
    
    = javascript_include_tag "jQuery/jquerytools-1.1.2.min", "application_jquery", "prototype", "scriptaculous",  "effects", "controls", "lightview2.5.2.1/js/lightview", "flowplayer-3.1.4.min", "flowplayer.playlist-3.0.7", 'soundmanager2-nodebug-jsmin', 'inlineplayer', 'ckeditor/ckeditor.js', 'ckeditor/adapters/jquery.js', 'dragdrop', 'dragdropextra', 'wysiwyg', "lowpro", "defaultvalueactsashint", "behaviors", 'mementos/editor', 'cvi_busy_lib', 'ZeroClipboard'
    
    /= javascript_include_tag "mootools-1.2.4-core-yc", "Swiff.Uploader.js", "Fx.ProgressBar.js", "FancyUpload2.js", "upload_form"
    
    :javascript
      var FlowplayerSwfUrl = '#{video_player_swf_url}';
      var FLOWPLAYER_PRODUCT_KEY = '#{FLOWPLAYER_PRODUCT_KEY}';
      var editor, artifactPicker;

      window._token = '#{form_authenticity_token}';
      soundManager.debugMode = true;
      soundManager.consoleOnly = true;
      ZeroClipboard.setMoviePath( '/swf/ZeroClipboard.swf' );
            
      jQuery(document).ready(function() {
        jQuery("#accordion").tabs("#accordion div.memento-pane", {tabs: 'h1.accordiontab', effect: 'slide', initialIndex: 0});
        editor = MementoEditor.init();
      });