!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}
    %meta{:name=>"keywords", :content=>"#{meta_keywords}"}
    %meta{:name=>"description", :content=>"#{meta_descriptions}"}
    %title= "Eternos | Start Saving Your Life's Moments - " + h(yield(:title) || "Home")
    /[if lte IE 7]
      = stylesheet_link_tag "new_design/styleie7.css"
    /[if lte IE 6]
      = stylesheet_link_tag "new_design/styleie6.css"

    /- stylesheet 'screen', 'application', 'reset-fonts-grids'
    - stylesheet 'new_design/style.css'
    = yield(:head)
    = javascript_include_tag "jQuery/jquerytools-1.1.2.min", "application_jquery", "prototype", "scriptaculous", "lightview2.5.2.1/js/lightview", "flowplayer-3.1.4.min", "flowplayer.playlist-3.0.7", "lowpro", "defaultvalueactsashint", "behaviors", "facebook", :cache => "cache/public"
    = javascript_include_tag "flowplayer.js"
    /- = yield(:js_libs)
    /- = yield(:javascript)
  %body
    .header
      %div
        = render :partial => 'shared/home_login_form', :locals => {:hide => @hide_login}
        = render :partial => 'shared/public_header'
        
    = yield
    
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"

