!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}
    %meta{:name=>"google-site-verification", :content=>"tDhZ6nU0vekm0r7573tiRflAjtvcx7aupY4T2n9LVhA"}
    %title= "Eternos - " + h(yield(:title) || "Home")
    /[if lte IE 7]
      = stylesheet_link_tag "new_design/styleie7.css"
    /[if lte IE 6]
      = stylesheet_link_tag "new_design/styleie6.css"

    /- stylesheet 'reset-fonts-grids'
    - stylesheet 'screen', 'application', 'new_design/style.css'
    - load_prototype
    - javascript 'facebook'
    
    = yield(:head)
    = yield(:js_libs)
    = yield(:javascript)
  %body
    .header
      %div
        = render :partial => 'shared/home_login_form', :locals => {:hide => @hide_login}
        
        = link_to(image_tag('logo.png', :border => "0"),  root_path)
        %ul
          %li{:class => params[:action] == 'show' ? 'active' : 'inact'}
            = link_to 'Home', '/new_home'
            %span
          %li{:class => params[:action] == 'what' ? 'active' : 'inact'}
            = link_to 'What is Eternos?', '/about/what'
            %span
          %li{:class => params[:action] == 'blog' ? 'active' : 'inact'}
            = link_to 'Our Blog', 'http://www.facebook.com/pages/Eternoscom/134291337425', :target => '_new'
            %span
          %li{:class => params[:action] == 'index' ? 'active' : 'inact'}
            = link_to 'About', about_path
            %span

    = yield
    
    = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless @hide_feedback

    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"

