!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= "Eternos - " + h(yield(:title) || "Home")
    / bundle do
    - stylesheet 'reset-fonts-grids', 'screen', 'application', 'public', 'style'
    - javascript :defaults, 'timer'
    
    = yield(:head)
    = yield(:javascript)
    / end bundle
  %body
    #custom-doc.yui-t7
      #wrapper
        #header-wrapper
          #hd
            %h1= link_to((image_tag 'logo.png', :id => 'eternos_logo'),  root_path)
          = render :partial => 'shared/login_box' unless @hide_login_box
        #bd
          = yield
        = render :partial => 'shared/site_footer'
    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"
    = render :partial => 'shared/ga'

