!!!
%html{html_attrs('en'), 'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %link{:rel=>"shortcut icon", :type=>"image/vnd.microsoft.icon", :href=>"#{image_path 'favicon.ico'}"}
    %link{:rel=>"icon", :type=>"image/png", :href=>"#{image_path 'favico.png'}"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=8"}
    %meta{:'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title= "Eternos - " + h(yield(:title) || "Home")
    / bundle do
    - stylesheet 'reset-fonts-grids', 'screen', 'application', 'public', 'style'
    - load_prototype
    - javascript 'timer'
    = yield(:js_libs)
    = yield(:head)
    / end bundle
  %body
    #custom-doc.yui-t7
      #wrapper
        #header-wrapper
          #hd
            %h1= link_to((image_tag 'logo.png', :id => 'eternos_logo'),  root_path)
          = render :partial => 'shared/login_box' unless @hide_login_box
        #bd
          = yield
        = render :partial => 'shared/site_footer' unless @hide_footer
    = render :partial => 'shared/get_satisfaction' unless params['controller'] == 'home'
    = yield(:javascript)
    = fb_connect_javascript_tag
    = init_fb_connect "XFBML"


