- facebook_form_for :user, @user, :url => url_for(:controller => 'accounts', :action => 'fb_create'), :labelwidth => '75', :width => '500', :html => {:id => 'new_account_form'} do |f|
  = facebook_messages
  = hidden_field_tag 'plan', plan
  = f.hidden_field 'facebook_id'
  = hidden_field_tag 'from_fb', true
  = f.hidden_field :terms_of_service, :value => "1"
  %p
    = f.text_field :first_name
  %p
    = f.text_field :last_name
  %p
    = f.text_field :email
  %p 
  %p
    -# f.fields_for :profile do |ff|
    <fb:editor-custom label="Birthday">
    = date_select 'user[profile]', 'birthday', :default => @fb_birthdate, :order => [:month,:day,:year], :use_short_month => true, :start_year => Date.today.year, :end_year => 100.years.ago.year
    <br/>
    Your birthdate is required for us to properly display your timeline.
    </fb:editor-custom>
  <p align="center">
  = f.buttons "Sign Up"
  </p>


  


  
