<%= hidden_submit("submit_form_personal") %>
<%- fields_for @address_book do |ab| %>
  <p>
    <%= ab.label "First Name" %>  
    <%= text_field_submit_onchange(ab, :first_name, "submit_form_personal") %>
  </p>
  
  <p>
    <%= ab.label "Middle Name" %>
    <%= text_field_submit_onchange(ab, :middle_name, "submit_form_personal") %>
  </p>
  <p>
    <%= ab.label "Last Name" %>
    <%= text_field_submit_onchange(ab, :last_name, "submit_form_personal") %>
  </p>
  <p>
    <%= ab.label "Suffix" %>
    <%= text_field_submit_onchange(ab, :name_suffix, "submit_form_personal") %>
  </p>
  <p>
    <%= ab.label "Title" %>
    <%= text_field_submit_onchange(ab, :name_title, "submit_form_personal") %>
  </p>
  <p>
    <%= ab.label "Gender" %>
    <%= radio_submit_onclick(ab, :gender, "male", "submit_form_personal", @address_book.gender) %>Male
    <%= radio_submit_onclick(ab, :gender, "female", "submit_form_personal", @address_book.gender) %>Female
    <%= radio_submit_onclick(ab, :gender, "transgender", "submit_form_personal", @address_book.gender) %>Transgender
  </p>
  <p>
  <%= ab.label "Time Zone"%>
  <%= ab.time_zone_select :timezone, TZInfo::Timezone.all.sort, :default => @address_book.timezone.to_s, :model => TZInfo::Timezone %>
</p>
<%- end -%>


<%- fields_for @profile do |profile| -%>
  <p>
    <%= profile.label "Height" %>
    <%= text_field_submit_onchange(profile, :height, "submit_form_personal") %>
  </p>
  <p>
    <%= profile.label "Weight" %>
    <%= text_field_submit_onchange(profile, :weight, "submit_form_personal") %>
  </p>
  <p>
    <%= profile.label "Race" %>
    <%=text_field_submit_onchange(profile, :race, "submit_form_personal") %>
  </p>
  <p>
    <%= profile.label "Religion" %>
    <%= text_field_submit_onchange(profile, :religion, "submit_form_personal") %>
  </p>
  <p>
    <%= profile.label "Political View" %>
    <%= text_field_submit_onchange(profile, :political_views, "submit_form_personal") %>
  </p>
  <p>
    <%= profile.label "Sexual Orientation" %>
    <%= text_field_submit_onchange(profile, :sexual_orientation, "submit_form_personal") %>
  </p>

<%- end -%>
  
<%- fields_for @address_book do |ab| %>
  <p>
    <%= ab.label "Website" %>
    <%= text_field_submit_onchange(ab, :website, "submit_form_personal") %>
  </p>

   <p>
    <%= ab.label "Social security" %>
    <%= text_field_submit_onchange(ab, :ssn_b, "submit_form_personal") %>
  </p>
   <p>
    <%= ab.label "Birthdate" %>
    <%= ab.date_select_with_datepicker(:birthdate, {:add_month_numbers => true, :order => [:year,:month,:day], :start_year => Date.today.year, :end_year => 100.years.ago.year}) %>
  </p>
<%- end -%>

         
