<div id="notice" class="flash_notice"></div>
<% form_remote_tag :url => save_personal_info_account_settings_path, :complete => "updateStep('#{completed_steps_account_setting_path(current_user)}', #{@completed_steps})" do %>
  <table class="table-form1" width="460" >
  <tbody>
    <tr>
      <td colspan="3">
	    <div class="title2">Personal Info</div><br />
			<div class="textarea7">
			  Please tell us about yourself!  This data is held with the strictest of privacy controls.  
			  <br/>
			  Field marked with a * are required.
			</div>
  	  </td>
    </tr>
    <tr>
      <td colspan="3">
	    <hr class="line1" /><a href="#" class="plusminus"></a>
	  </td>
    </tr>
    <%- fields_for @address_book do |ab| %>
      <tr>
        <td class="coll-form1" valign="center">First Name*</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(ab, :first_name, "submit_form_personal") %></td>
      </tr>
      <tr>
        <td class="coll-form1" valign="center">Middle Name</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(ab, :middle_name, "submit_form_personal") %></td>
      </tr>
      <tr>
        <td class="coll-form1" valign="center">Last Name*</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(ab, :last_name, "submit_form_personal") %></td>
      </tr>
      <tr>
        <td class="coll-form1" valign="center">Suffix</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(ab, :name_suffix, "submit_form_personal") %></td>
      </tr>
      <tr>
        <td class="coll-form1" valign="center">Title</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(ab, :name_title, "submit_form_personal") %></td>
      </tr>

      <tr>
	    <td class="coll-form1" valign="top">Gender*</td>
		<td class="coll-form2" valign="center">:</td>
		<td class="coll-form3" valign="center">		    
		  <%= radio_submit_onclick(ab, :gender, "male", "submit_form_personal", @address_book.gender, "left") %> Male
		</td>
		</tr>
		<tr>
		  <td class="coll-form1" valign="top"></td>
		  <td class="coll-form2" valign="center">:</td>
  		<td class="coll-form3" valign="center">
		  <%= radio_submit_onclick(ab, :gender, "female", "submit_form_personal", @address_book.gender, "left2") %> Female
		  </td>
		</tr>
		<tr>
		  <td class="coll-form1" valign="top"></td>
		  <td class="coll-form2" valign="center">:</td>
  		<td class="coll-form3" valign="center">
      <%= radio_submit_onclick(ab, :gender, "transgender", "submit_form_personal", @address_book.gender, "left2") %> Transgender
		</td>
	  </tr>
	  
	  <tr>
      <td class="coll-form1" valign="center">Birthdate*</td>
    <td class="coll-form2" valign="center">:</td>
    <td class="coll-form3" valign="center"> 
			<div class="birthdate-box">
				<%= ab.date_select_with_datepicker(:birthdate, {:add_month_numbers => true, :order => [:day,:month,:year], :start_year => Date.today.year, :end_year => 100.years.ago.year}, {:class => 'bday-box', :onchange => "$('submit_form_personal').click();"}) %>
			</div>
		</td>
    </tr>
    
      <tr>
        <td class="coll-form1" valign="center">Timezone</td>
		<td class="coll-form2" valign="center">:</td>
		<td class="coll-form3" valign="center"> 
          <%= time_zone_submit_onselect(ab, :timezone, "submit_form_personal", nil, {}, {:id => "address_book_timezone"} ) %>
        </td>
      </tr>
      
    <%- end -%>

    <%- fields_for @profile do |profile| -%>
      <tr>
        <td class="coll-form1" valign="center">Height</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"><%= text_field_submit_onchange(profile, :height, "submit_form_personal") %></td>
      </tr>

       <tr>
        <td class="coll-form1" valign="center">Weight</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"> <%= text_field_submit_onchange(profile, :weight, "submit_form_personal") %></td>
      </tr>

      <tr>
        <td class="coll-form1" valign="center">Ethnicity</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"> <%=text_field_submit_onchange(profile, :race, "submit_form_personal") %> </td>
      </tr>

      <tr>
        <td class="coll-form1" valign="center">Religion</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center"> <%= text_field_submit_onchange(profile, :religion, "submit_form_personal") %> </td>
      </tr>

      <tr>
        <td class="coll-form1" valign="center">Political Views</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center">  <%= text_field_submit_onchange(profile, :political_views, "submit_form_personal") %> </td>
      </tr>

      <tr>
        <td class="coll-form1" valign="center">Sexual Orientation</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center">  <%= text_field_submit_onchange(profile, :sexual_orientation, "submit_form_personal") %> </td>
      </tr>

    <%- end -%>
  
    <%- fields_for @address_book do |ab| %>
<!--
      <tr>
        <td class="coll-form1" valign="center">Website</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center">  <%= text_field_submit_onchange(ab, :website, "submit_form_personal") %> </td>
      </tr>

       <tr>
        <td class="coll-form1" valign="center">Social security</td>
	    <td class="coll-form2" valign="center">:</td>
	    <td class="coll-form3" valign="center">  <%= text_field_submit_onchange(ab, :ssn, "submit_form_personal") %> </td>
      </tr>
-->
    <%- end -%>
  </tbody>
</table>
<%= #submit_tag 'Save', :style => 'height: 25px' 
%>
<%= hidden_submit("submit_form_personal") %>
<%- end -%>
<%= javascript_tag "calculate_time_zone('address_book_timezone');" %>
