- form_for_using_ssl :user, :url => {:controller => 'accounts', :action => 'create'}, :html => {:id => 'new_account_form'} do |f|
  = hidden_field_tag 'plan', plan
  = hidden_field_tag 'user_facebook_id'
  = f.hidden_field :terms_of_service, :value => "1"
  %p
    %label First Name:
    = f.text_field :first_name, :size => "20"
  %p
    %label Last Name:
    = f.text_field :last_name, :size => "20"
  %p
    %label Email:
    = f.text_field :email, :size => "20"
  %p
    %label Password:
    = f.password_field :password, :size => "20"
    %br
    %label &nbsp;
    %em 6 characters minimum
  
  %p.home01
    %label 
      = check_box_tag 'terms'
    <em>I confirm that I am over 13 years of age and accept the <a href="/about/terms">Terms</a> &amp; <a href="/about/privacy">Privacy Policy</a></em>
  %p{:align=>"center"}
    = submit_tag "Sign Up", :style => "margin: 7px 0 0 100px;float:left;", :class => "submit"
  
