- form_for_using_ssl :user, :url => {:controller => 'accounts', :action => 'create'}, :html => {:id => 'new_account_form'} do |f|
  = hidden_field_tag 'plan', plan
  = hidden_field_tag 'user_facebook_id'
  = f.hidden_field :terms_of_service, :value => "1"
  %p
    %label Full name:
    = f.text_field :full_name
  %p
    %label Email:
    = f.text_field :email
  %p
    %label Password:
    = f.password_field :password
    %br
    %label &nbsp;    
    %em 6 characters minimum
  %p
    %label Birthday:
    = f.date_select :birthday,  :order => [:month,:day,:year], :use_short_month => true, :start_year => Date.today.year, :end_year => 120.years.ago.year, :prompt => { :day => 'day', :month => 'month', :year => 'year' }
  %p
    %label &nbsp;
    = submit_tag "Sign Up"

#facebook-signup
  %p
    %strong Or sign up with your Facebook account
  %p= fb_login_button("EternosFB.create_account_form_cb()", :size => :medium, :background => :white, :length => :medium)
%p.home01
  %em *By proceeding, you confirm that your over 13 years of age and accept the 
  = link_to 'Privacy', '/about/privacy'
  and 
  = link_to 'Terms', '/about/terms'
  


  
