- form_for_using_ssl :user, :url => {:controller => 'accounts', :action => 'create'}, :html => {:id => 'new_account_form'} do |f|
  = hidden_field_tag 'plan', plan
  = hidden_field_tag 'user_facebook_id'
  = hidden_field_tag 'quickform', true
  = f.hidden_field :terms_of_service, :value => "1"
  %p
    %label Full name:
    = f.text_field :full_name
  %p
    %label Email:
    = f.text_field :email
  %p
    %label Password:
    = f.password_field :password
    %br
    %label &nbsp;    
    %em 6 characters minimum
  %p
    - f.fields_for :profile do |prof|
      %label Birthday:
      = prof.date_select 'birthday', :order => [:month,:day,:year], :use_short_month => true, :start_year => Date.today.year, :end_year => 120.years.ago.year
  %p
    %label &nbsp;
    = submit_tag "Sign Up"

#facebook-signup
  %p
  %strong Or sign up with your Facebook account
  %p
    <a id="fb-signup" href="#" class="fbconnect_login_button FBConnectButton FBConnectButton_Small"><span id="RES_ID_fb_login_text" class="FBConnectButton_Text">SIGN UP</span></a>
  
  -# Old facebook "connect" button code - used Facebook servers to serve connect button image but too slow!
  -#%p= fb_login_and_redirect(new_account_url(:plan => AppConfig.default_plan, :fb => true, :protocol => 'https'), :size => :medium, :background => :white, :length => :short)

  = form_tag(new_account_url(:plan => AppConfig.default_plan, :fb => true, :protocol => 'https'), :id => 'signup_with_facebook_form')
  :javascript
    document.getElementById('fb-signup').onclick = function() {
      FB.Connect.requireSession(function(response) {
        $('signup_with_facebook_form').submit();
      });
    };
%p.home01
  %em *By proceeding, you confirm that your are over 13 years of age and accept the 
  = link_to 'Privacy', privacy_about_path, :target => "_new"
  and 
  = link_to 'Terms', terms_about_path, :target => "_new"
  <br /><br /> 
  = render :partial => 'shared/mcafee_secure'
-# Does anyone have sharethis stats??  why are we using this if we're not tracking performance???
-#= render :partial => 'shared/addthis' unless local_assigns.has_key?(:page) && (page == 'mementos')
  



  
