- form_for_using_ssl :user, :url => {:controller => 'accounts', :action => 'create'} do |f|
  = hidden_field_tag 'plan', plan
  = hidden_field_tag 'user_facebook_id'
  = f.hidden_field :terms_of_service, :value => "1"
  %p
    %label full name:
    = f.text_field :full_name
  %p
    %label your email:
    = f.text_field :email
  %p
    %label password:
    = f.password_field :password
    %br
    %label &nbsp;
    %em 6 characters minimum
  %p
    %label confirm password:
    = f.password_field :password_confirmation
  %p{:align=>"center"}
    = submit_tag "Sign Up"
