- if AppConfig.invitation_required
  %p#invitation-token
    %lable Invitation Code: 
    = text_field_tag 'user[invitation_token]', @invitation_token
%p#fb-name
= f.text_field :first_name, :id => "first-name", :container_id => "first-name-input"
= f.text_field :last_name, :id => "last-name", :container_id => "last-name-input"
= f.text_field :email, :id => 'email'

- unless facebook_session
  = f.password_field :password
  = f.password_field :password_confirmation

%p
  - f.fields_for :profile, @user.profile do |prof|
    = prof.date_select 'birthday', :order => [:month,:day,:year], :use_short_month => true, :start_year => Date.today.year, :end_year => 100.years.ago.year
%br
- if use_captcha
  %br
  .captcha-right
    %p.captcha_box= recaptcha_tags :ssl => request.ssl?
%p
  %label &nbsp;
  = submit_tag 'signup', :value => 'Sign Up', :class => "submit"
%br
%p.signup-terms
  %label &nbsp;
  = f.check_box :terms_of_service, {:id => 'terms_of_service', :checked => checked_terms}
  I accept the 
  = link_to 'Terms and Conditions', '/about/terms', :target => '_new'
