= custom_error_messages_for :user, :full_messages => true

- if AppConfig.invitation_required
  %p.input#invitation-token
    Invitation Code: 
    = text_field_tag 'user[invitation_token]', @invitation_token
%p.input#fb-name
%p.input#first-name-input
  First Name:
  = f.text_field :first_name, :id => "first-name"
%p.input#last-name-input
  Last Name:
  = f.text_field :last_name, :id => "last-name"
%p.input
  Email Address:
  = f.text_field :email, :id => 'email'
  %span.fine-print This will serve as your login name, and must be a valid email address
#fb_pass_text{:style => "display: none;"}
  %p Choose a password in case of Facebook Account closure or disconnection
  %br
%p.input#password-input
  Password:
  = f.password_field :password, :style => "width: 184px"
  %span.fine-print Minimum 6 characters long
%p.input#password-conf-input
  Confirm Password:
  = f.password_field :password_confirmation, :id => 'password-confirm'
  %span.fine-print Confirm your password by entering it again
- if user.new_record?
  %br
  %p
  .checkbox_term
    = f.check_box :terms_of_service, {:id => 'terms_of_service', :checked => checked_terms}
    .term_text
      &nbsp;I accept the 
      = link_to 'Terms and Conditions', '/about/terms', :target => '_new'
  .clear
  - if use_captcha
    %br
    .captcha-right
      %p.captcha_box
        = recaptcha_tags :ssl => request.ssl?
    
  %p
    %br
    = submit_tag 'continue', :value => 'Continue', :class => "submit"