- if AppConfig.invitation_required
  %p#invitation-token
    %lable Invitation Code: 
    = text_field_tag 'user[invitation_token]', @invitation_token
%p#fb-name
= f.text_field :first_name, :id => "first-name", :container_id => "first-name-input"
= f.text_field :last_name, :id => "last-name", :container_id => "last-name-input"
= f.text_field :email, :id => 'email'

#fb_pass_text{:style => "display: none;"}
  %p Choose a password in case of Facebook Account closure or disconnection
  %br
= f.password_field :password
= f.password_field :password_confirmation

%p
  - fields_for :profile do |prof|
    %label Birthday:
    = prof.date_select 'birthday',  :order => [:month,:day,:year], :use_short_month => true, :start_year => Date.today.year, :end_year => 120.years.ago.year, :prompt => { :day => 'day', :month => 'month', :year => 'year' }
%br
- if use_captcha
  %br
  .captcha-right
    %p.captcha_box= recaptcha_tags :ssl => request.ssl?

%p
  %label &nbsp;
  = submit_tag 'signup', :value => 'Sign Up', :class => "submit"
%br
%p.signup-terms
  %label &nbsp;
  = check_box_tag 'user[terms_of_service]', checked_terms, {:id => 'terms_of_service', :checked => checked_terms}
  I accept the 
  = link_to 'Terms and Conditions', '/about/terms', :target => '_new'
