- javascript 'facebook'
- javascript "#{request.protocol}api.recaptcha.net/js/recaptcha_ajax.js" if @use_captcha
- use_form
- hide_login_box

.content.signup
  %fieldset
    .signup-left
      %h1 Sign-Up Process
      %ul
        %li.signup-active
          %strong Sign-Up
          %br
          %span Account Info
        %li.signup-inactive
          %strong Email Verified
          %br
          %span Valid Email Confirmation
      %h1.grey Account Setup
      %ul
        %li.signup-inactive 
          Backup
          %br
          %span Add Backup Sites
        %li.signup-inactive
          Life Key
          %br
          %span Add Trustees
    .signup-right
      = render :partial => 'accounts/short_form', :locals => {:plan => AppConfig.default_plan}
/
  .what
    - form_tag('/accounts/create', :class => 'form_with_terms', :id => "new_account_form") do
      = hidden_field_tag 'plan', @plan.name
      = hidden_field_tag 'user[facebook_id]', @user.facebook_id
      .yui-u.first
        %p
        - if @plan.allow_subdomain
          = render :partial => 'subdomain_form_fields', :locals => {}
        - fields_for @user, :html => {:id => 'new_user_form'} do |f|
          = render :partial => 'user_form', :locals => {:f => f, :user => @user, :use_captcha => @use_captcha, :checked_terms => @terms_accepted}
