- javascript 'facebook'
- javascript "#{request.protocol}api.recaptcha.net/js/recaptcha_ajax.js" if @use_captcha
- use_form
- hide_login_box

.content
  %h1 Create your account
  #share-your-life
    %h2 Begin sharing your life.
    %p Your story begins here. Sign up and begin using Eternos to chronicle your life for your beloved descendants.
  %p
  %br
  #create-account-fb-connect
    = fb_login_button("EternosFB.create_account_form_cb()", :size => :medium, :background => :white, :length => :long)
    %br
  %br
  /
    %br
      %span{:style=>"font-size:small"}
        Do you have an OpenID account?  If so, 
        = link_to 'Signup with OpenID', login_path

  .what
    - form_tag('/accounts/create', :class => 'form_with_terms', :id => "new_account_form") do
      = hidden_field_tag 'plan', @plan.name
      = hidden_field_tag 'user[facebook_id]', @user.facebook_id
      .yui-u.first
        %p
        - if @plan.allow_subdomain
          = render :partial => 'subdomain_form_fields', :locals => {}
        - fields_for @user, :html => {:id => 'new_user_form'} do |f|
          = render :partial => 'user_form', :locals => {:f => f, :user => @user, :use_captcha => @use_captcha, :checked_terms => @terms_accepted}
