- use_form
- hide_login_box

%h1#page-header select account
.yui-g
  %p Eternos offers serveral different account types depending on your needs. Please review the feature sets below and determine which is correct for you. You can always upgrade or downgrade your account later.
  .yui-u
    %table.plans-table
      %tr
        %th.clear
        %th.basic Basic
        %th.silver
          = image_tag 'silver-star.png'
          %span.icon-silver-star Silver
        %th.gold
          = image_tag 'gold-star.png'
          %span.icon-gold-star Gold
        %tr
          %td.title-plans Eternal Storage
          %td.basic= image_tag 'checkmark.png'
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Backup Social Networks
          %td.basic= image_tag 'checkmark.png'
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Password Locker
          %td.basic= image_tag 'checkmark.png'
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Public Profile
          %td.basic= image_tag 'checkmark.png'
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Email Backup
          %td.basic= image_tag 'checkmark.png'
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Timeline Plus
          %td.basic
          %td.silver= image_tag 'checkmark.png'
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Yearly DVD Backups
          %td.basic
          %td.silver
          %td.gold= image_tag 'checkmark.png'
        %tr
          %td.title-plans Storage
          %td.basic 1GB
          %td.silver 10GB
          %td.gold 50GB
        %tr
          %td.title-plans Monthly Cost
          %td.basic FREE
          %td.silver $9.95
          %td.gold $19.95
  - form_for :account, :url => 'accounts/new', :html => {:id => 'plan_form'} do |f|
    #yui-u.first
      %h3.account-type
        %input#basic.level{:type => 'radio', :name => 'plan', :value => "Free", :checked=>"checked"}
          FREE
      %p.account-description
        Our free account is great for all people who want to trial the Eternos Service, at no cost to you!
  
      %h3.account-type
        %input#silver.level{:type => 'radio', :name => 'plan', :value => "Basic"}
          = image_tag 'silver-star.png'
          Silver
          %span - $9.95 / month
      %p.account-description
        Our silver account has access to every feature of the Eternos Service, minus the Yearly DVD Backup, and less storage.

      %h3.account-type
        %input#gold.level{:type => 'radio', :name => 'plan', :value => "Premium"}
          = image_tag 'gold-star.png'
          Gold
          %span - $19.95 / month
      %p.account-description
        Our premier offering comes with 200GB of storage, yearly DVD backup, and exclusive sneak peaks at "in development" features.
  
    = submit_tag :submit, :value => "Continue", :class => "submit continue", :style => "width: 300px;"


/ content_tag(:li, link_to(p, new_account_url(:plan => p)))} %>
